<div id="admission-dashboard" class="page-layout simple" id="printNone">

    <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Examination Management</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Post Examination</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Exam Attendance and Marks Entry</span>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content pd-card mt-15">
        <div class="mat-elevation-z8 bkgrd">
            <form name="examFeeCollectionForm" [formGroup]="examFeeCollectionForm" style="padding-bottom: 1px;" class="form-pad" novalidate>
                <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                    <i class="material-icons sub-header-icon">money</i>
                    <span class="sub-header-text">Exam Attendance and Marks Entry</span>
                </div>
                <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd" style="padding: 0px 15px;">
                    <div fxLayout="row wrap " fxFlex="100">
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                            <mat-select placeholder="Faculty" name="collegeId" formControlName="collegeId" (selectionChange)="selectedCollege(examFeeCollectionForm.value.collegeId)" required>
                                <mat-option *ngFor="let college of colleges" [value]="college.fk_college_id">{{college.college_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="18" fxFlex.gt-md="18">
                            <mat-select placeholder="Exam Year" name="academicYearId" formControlName="academicYearId" (selectionChange)="selectedAcademicYear(examFeeCollectionForm.value.academicYearId)" required>
                                <mat-option *ngFor="let obcjt of academicYears" [value]="obcjt.fk_academic_year_id">{{obcjt.academic_year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                            <mat-select placeholder="Program" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(examFeeCollectionForm.value.courseId)" required>
                                <mat-option *ngFor="let course of courses" [value]="course.fk_course_id">{{course.course_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="52" fxFlex.gt-md="52">
                            <mat-select placeholder="Exam" name="examId" formControlName="examId" (selectionChange)="selectedExam(examFeeCollectionForm.value.examId)" required>
                                <ngx-mat-select-search [placeholderLabel]="'Search Exam...'"
                                [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchExam($event.target.value)"></ngx-mat-select-search>   
                                <mat-option *ngFor="let exam of examData" [value]="exam.fk_exam_id" matTooltip="{{exam.exam_name}} ({{exam.from_date | date:'MMM d, y'}} - {{exam.to_date | date:'MMM d, y'}})"
                                >{{exam.exam_name}} ({{exam.from_date | date:'MMM d, y'}} - {{exam.to_date | date:'MMM d, y'}})
                                    <span *ngIf="exam.is_internal_exam" style="color: #0014ff;font-weight: 500;">(Internal)</span>
                                    <span *ngIf="exam.is_regular_exam" style="color: #0014ff;font-weight: 500;">(Regular)</span>
                                    <span *ngIf="exam.is_supply_exam" style="color: #0014ff;font-weight: 500;">(Supple)</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap " fxFlex="100">
                       
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                            <mat-select placeholder="Branch " name="courseGroupId" formControlName="courseGroupId" (selectionChange)="selectedCourseGroup(examFeeCollectionForm.value.courseGroupId)" required>
                                <mat-option *ngFor="let obcjt of courseGroups" [value]="obcjt.fk_course_group_id">{{obcjt.group_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                            <mat-select placeholder="Semester" name="courseYearId" formControlName="courseYearId" (selectionChange)="selectedYear(examFeeCollectionForm.value.courseYearId)" required>
                                <mat-option *ngFor="let courseYear of courseYears" [value]="courseYear.fk_course_year_id">{{courseYear.course_year_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                            <mat-select placeholder="Section" name="groupSectionId" formControlName="groupSectionId" (selectionChange)="selectedSection(examFeeCollectionForm.value.groupSectionId)" required>
                                <mat-option *ngFor="let section of sections" [value]="section.groupSectionId">{{section.section}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                            <mat-select placeholder="Course Type" name="subjectTypeId" formControlName="subjectTypeId" (selectionChange)="selectedSubjectType(examFeeCollectionForm.value.subjectTypeId)">
                                <!-- <mat-option [value]="0">All</mat-option> -->
                                <mat-option *ngFor="let objt of subjectTypes; let i = index"  [value]="objt.fk_subjecttype_catdet_id">{{objt.subject_type}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="34" fxFlex.gt-md="34">
                            <mat-select placeholder="Course" name="examTimetableDetId" formControlName="examTimetableDetId" (selectionChange)="selectedSubject(examFeeCollectionForm.value.examTimetableDetId)"
                            required>
                                <ngx-mat-select-search [placeholderLabel]="'Search Subject...'"
                                [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchsubject($event.target.value)"></ngx-mat-select-search>   
                                <mat-option *ngFor="let objt of examTimetableSubject; let i = index" matTooltip="{{objt.subject_name}} - {{objt.subject_code}}" [value]="objt.fk_exam_timetable_det_id">{{objt.subject_name}}
                                    <span class="rol-no"> - {{objt.subject_code}}</span>
                                    <span class="rol-no">({{objt.regulation_code}})</span>
                                    <span>({{objt.ttd_exam_type}})</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="12" fxFlex.gt-md="12" *ngIf="labBatch==true">
                            <mat-select placeholder="Lab Batch" name="labbtch" formControlName="labBatchId" (selectionChange)="selectedLab(examFeeCollectionForm.value.labBatchId)"> 
                                 <mat-option [value]="0">All</mat-option>
                                <mat-option *ngFor="let objt of labbatchs; let i = index" [value]="objt.fk_eaxm_labbatch_id">{{objt.labbatch_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" *ngIf="examFeeCollectionForm.value.examTimetableDetId">
                            <input matInput [matDatepicker]="picker" name="examDate"  (dateChange)="calDays()" formControlName="examDate" placeholder="Choose a exam date" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" style="padding-top: 15px;" *ngIf="examFeeCollectionForm.value.courseYearId != ''">
                      
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-md="30" *ngIf="!staff">
                            <mat-select placeholder="Employee" name="employeeId" formControlName="employeeId" #singleSelect (selectionChange)="selectedEmployee(examFeeCollectionForm.value.employeeId)">
                                <ngx-mat-select-search [formControl]="employeeFilterCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="enteredEmployee($event)"></ngx-mat-select-search>
                                <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee.employeeId">{{employee.empNumber}}<span class="rol-no" *ngIf="employee.firstName != null">({{employee.firstName}})</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field fxLayout="column" *ngIf="roleName=='STAFF' || roleName=='MSTAFF'" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                            <mat-select placeholder="Employee" name="employeeId" formControlName="employeeId"  #singleSelect (selectionChange)="getReportingManagers(examFeeCollectionForm.value.employeeId)">
                                <mat-option *ngFor="let employee of EmployeeData " [value]="employee.employeeId" style="line-height: 1.5em;height: unset;border-bottom: 1px solid #9e9e9e52;"> 
                                    {{employee.empNumber}}<span class="rol-no" *ngIf="employee.firstName != null">({{employee.firstName}})</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                         <mat-form-field fxLayout="column" *ngIf="staff" class="p-8" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-md="30">
                            <mat-select placeholder="Employee" name="employeeId" formControlName="employeeId"  #singleSelect disabled >
                                <mat-option [value]="empId" style="line-height: 1.5em;height: unset;border-bottom: 1px solid #9e9e9e52;"> 
                                    {{empNumber}}<span class="rol-no" *ngIf="userName != null">({{userName}})</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                        <button mat-raised-button class="add-btn" color="accent" (click)="getStudentsList()">Get List</button>
                            </div>
                    </div>
                </div>

                <!-- <div fxLayout="row" style="margin-left: 22px;" *ngIf="examStudentsList.length > 0">
                <div fxLayout="column" class="radio-btn" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start"  >
                    <mat-radio-group [(ngModel)]="checkUploadType" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button [value]="1" (click)="clear()" >List Of Marks</mat-radio-button>
                        <mat-radio-button style="margin-left: 20px;" [value]="2" (click)="clear()" class="r-btn" >Import Marks</mat-radio-button>
                    </mat-radio-group>
                </div>
                </div> -->

                <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd std-his" *ngIf="examStudentsList.length > 0">
                    <div fxLayout="row" class="mar-8">
                        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                            <img class="img-marks pic" src="assets/images/logos/exam.png">
                        </div>
                        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="85" fxFlex.gt-md="85" style="padding: 10px 0px;line-height: 0px;">
                            <p>{{exam}} (<span style="color: blue;">{{examDate}}</span>) </p>
                            <!-- <p *ngIf="!student.isLateral">{{student.firstName}} (<span style="color: blue;">REGULAR</span>) </p> -->
                            <p style="color: #8c8c8c !important;" *ngIf="section !== null">{{collegeCode}} / {{course}} / {{courseGroup}} / {{courseyear}} / {{section}}
                                <span style="color: blue;" *ngIf="academicYear !== null">({{academicYear}})</span></p>
                            <p style="color: #000000 !important;font-weight: bold;">{{subjectDetails}}
                                <span class="rol-no">- {{subjectTypCode}}</span> ({{examTypeCatCode}})</p>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" class="fileupload std-his" *ngIf="examStudentsList.length > 0 && checkUploadType == 2">
                    <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                        <input type="file" accept=".png, .jpg, .jpeg">
                    </mat-form-field> -->
                    <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="24" fxFlex.gt-md="16">
                        <span class="upload">Upload Marks :</span>
                    </div>
                    <section fxLayout="column" class="p-8 post-rltv" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <input type="file" placeholder="Upload file" accept=".xlsx" #uploadXl>
                    </section>
                    <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                        <button [disabled]="preStaggings.length > 0 ? true : null" mat-raised-button class="add-btn" color="accent" (click)="uploadFile()">Upload</button>
                    </div>
                    <div class="savebtn-align file" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                        <!-- <button mat-raised-button class="add-btn btn-bck" (click)="download()">Download Sample XL</button> -->
                        <button mat-icon-button class="file" aria-label="Example icon-button with a heart icon" (click)="download()" matTooltip="Download Sample Excel">
                                <img src="assets/images/logos/download-excel.jpg">
                              </button>
                    </div>
                </div>
                <div fxLayout="column" class="inner-bkgrd yar-bordr" style="margin: 12px 24px !important;" *ngIf="examStudentsList.length > 0">
                    <!-- <h4>Students List</h4> -->
                    <div fxLayout="row" >
                        <span class="roll-no">
                            Students List
                        </span>
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="15" fxFlex.gt-md="15" fxLayout="row" >
                            <div class="search-box">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="70" fxFlex.gt-md="70" fxLayout="row" class="buttons">Max Marks : <span class="maxmarks">{{this.maxValue}}</span></div>
                    </div>
                    <div fxLayout="column" fxFlex="100" class="mlr-15 inner-bkgrd">
                        <div fxLayout="row" class="mar-8 table-bac firstTable marks-entry">
                            <table class="table table-striped fee fee_">
                                <thead>
                                  
                                    <tr>
                                        <th style="width: 5%;">SI No</th>
                                        <th style="width: 10%;">Hallticket Number</th>
                                        <th style="width: 35%;">Student</th>
                                        <!-- <th style="width: 15%;">Attendance Status</th> -->
                                        <th style="width: 15%;">
                                        <section class="mp-24 mb-24 p-8"  >
                                            <mat-checkbox  (change)="markItems($event.checked)" [checked]="check" [ngModelOptions]="{standalone: true}">Mark All</mat-checkbox>
                                        </section>
                                        </th>
                                        <th style="width: 10%;">
                                            <span *ngIf="isInternalExam">Internal </span><span *ngIf="!isInternalExam">External </span> Marks
                                        </th>
                                        <th style="width: 10%;">Result</th>
                                        <!-- <th style="width: 10%;">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody *ngIf="examStudentsList.length>0">
                                    <!-- | studentRollnoFilter: searchText; -->
                                    <tr *ngFor="let object of examStudentsList | filter: searchText; let i = index" >
                                            
                                        <td style="width: 5%;">{{i+1}}</td>
                                        <td style="text-align: left;width: 10%;">{{object.hallticketNumber}}</td>
                                        <td style="width: 35%;text-align: left;">{{object.firstName}}</td>
                                        <!-- <td style="width: 15%;text-align: left;">
                                            <span *ngIf="object.isPresent == true" class="active">Present</span>
                                            <span *ngIf="object.isPresent == false" class="in-active">Absent</span>
                                            <span *ngIf="object.isPresent == null" class="in-active">Not Marked</span>
                                        </td> -->
                                        <td style="width: 15%;text-align: left;">  
                                            <section class="mp-24 mb-24 p-8">
                                            <mat-checkbox name="checked-{{i}}" (change)="checkedItems(!object.isPresent,i,object)" [checked]="object.isPresent">
                                                <span *ngIf="object.isPresent==true" class="span-active">Present</span>
                                                <span *ngIf="object.isPresent==false" class="span-inActive">Absent</span>
                                                <span *ngIf="object.isPresent==null" class="span-active">NotTaken</span>
                                            </mat-checkbox>
                                        </section></td>
                                        <td style="text-align: right;width: 10%;" [ngStyle]="{'background':object.color }"
                                        *ngIf="this.isDisabled === false">
                                            <mat-form-field appearance="outline" [floatLabel]="'never'" *ngIf="!isInternalExam">
                                                <input matInput placeholder="Marks" 
                                                type="number" [min]='minvalue' [max]='maxValue' style="text-align: right;" step="any" 
                                                [(ngModel)]="object.marks" (keyup)="enteredMarks(object)" 
                                                [disabled]="object.isPresent? false : true" [ngModelOptions]="{standalone: true}" required>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" [floatLabel]="'never'"  *ngIf="isInternalExam">
                                                <input matInput placeholder="Marks" 
                                                type="number" [min]='minvalue' [max]='maxValue' style="text-align: right;" step="any" 
                                                [(ngModel)]="object.marks" (keyup)="enteredMarks(object)" 
                                                [disabled]="object.isPresent? false : true" [ngModelOptions]="{standalone: true}" required>
                                            </mat-form-field>
                                            <!-- <mat-form-field appearance="outline" [floatLabel]="'never'" *ngIf="object.isMarksPublished != null">
                                                <input matInput placeholder="Marks" type="number" style="text-align: right;" step="any" [(ngModel)]="object.marks" [ngModelOptions]="{standalone: true}" required [disabled]="object.isMarksPublished ? true : false">
                                            </mat-form-field> -->
                                            <!-- customToolTip [contentTemplate]="template" -->
                                                <!-- <ng-template #template >
                                                    <div class="my-tooltip">
                                                       <h5>Validation Result</h5>
                                                        <p >
                                                            <span style="color: black;font-weight: 700;">Marks :</span> {{object.marks}}
                                                        </p>
                                                        <p >
                                                            <span style="color: black;font-weight: 700;">Reason :</span> {{object.reason}}
                                                        </p>
                                                    </div>
                                                </ng-template> -->
                                        </td>
                                        <td style="text-align: right;width: 10%;" [ngStyle]="{'background':object.color }"
                                        *ngIf="this.isDisabled === true">
                                            <mat-form-field appearance="outline" [floatLabel]="'never'" *ngIf="!isInternalExam">
                                                <input matInput placeholder="Marks" 
                                                type="number" [min]='minvalue' [max]='maxValue' style="text-align: right;" step="any" 
                                                [(ngModel)]="object.marks"
                                                [disabled]="true" [ngModelOptions]="{standalone: true}" required>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" [floatLabel]="'never'"  *ngIf="isInternalExam">
                                                <input matInput placeholder="Marks" 
                                                type="number" [min]='minvalue' [max]='maxValue' style="text-align: right;" step="any" 
                                                [(ngModel)]="object.marks" 
                                                [disabled]="true" [ngModelOptions]="{standalone: true}" required>
                                            </mat-form-field>
                                        </td>
                                        <td style="text-align: center;width: 10%;">
                                            <span *ngIf="object.isPass === null" class="in-active">Not Posted</span>
                                            <span *ngIf="object.isPass === true" class="active">P</span>
                                            <span *ngIf="object.isPass === false" class="in-active">F</span>
                                        </td>
                                        <!-- <td style="width: 10%;text-align: center;">
                                            <span *ngIf="object.ispresent || !object.isMarksPublished">
                                                <i class="material-icons edit" matTooltip="Edit Marks" (click)="editDialog(object)"> border_color</i>
                                            </span>
                                            <span *ngIf="object.isMarksPublished">
                                               -
                                            </span>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" *ngIf="examStudentsList.length > 0">
                            <div class="form-btn" *ngIf="this.isDisabled === false">
                                <button mat-raised-button class="add-btn" color="accent" (click)="postExamMarks()">
                                 Save Marks </button>
                             
                            </div>
                        </div>
                    </div>
                </div>

             
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
