.mlr-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.week-day{
    margin-top: 5px !important;
}
.exp-con {
    overflow: hidden !important;
}
.bordr{
    border: 1px solid #dedede;
}
.yar-bordr{
    border: 2px solid #89c5ff;
    border-radius: 3px;
    margin: 0px 24px 16px 24px !important;
    padding: 10px 10px;
    background: #fbfbfb;
}
p {
    margin: 3px !important;
    font-weight: 500;
}
.accordion-align {
    width: 100%;
    padding: 0px 24px 0px 24px !important;
}
.mpb{
    margin: 0px 15px 10px 15px;
}
.scroll{
    overflow: auto;
    height: 233px;
}