.msg{
    margin: auto;
     color: #003c97;
     margin-left:2%;
     margin-top: -1.5% !important;
      font-weight: 100;
     font-style: revert;
     font-weight: 600;
  //   color:#32ba32;
     // background:#abd7ab;
     //padding: 1% 4%;
   //  border-radius: 5px;
     font-size: large;
 }

 
 .div-borders {
     border: 2px solid #B2EBF2;
     border-radius: 5px;
     margin: 3px 25px 0px 21px!important;
     // padding: 13px;
 }
 
 .example-container {
     width: 100%;
     overflow: hidden;
 }
 
 
 