<div class="add-form">
    <div class="content">
        <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
            <div fxLayout="row wrap " fxFlex="100" fxLayoutAlign="space-between center">
                <div fxLayoutAlign="start center" class="mod-head">
                    <mat-icon>settings</mat-icon>
                    <span> Edit Exam Answer Paper Bag -
                         <span *ngIf="data.firstName"> - {{data?.firstName}} </span> <span style="color:blue" > ({{data?.hallticketNo}})</span> 
                         <!-- <span *ngIf="data.examEvaluatorProfilesName"> / {{data?.examEvaluatorProfilesName}} </span> -->
                   
                </span>
                </div>
                <div fxLayoutAlign="end center" class="mod-head">
                    <!-- <span>University :</span><span>{{data.universityCode}} - {{data.collegecode}} </span> -->
                </div>
            </div>
        </div>
        <form name="examCenterForm" [formGroup]="examCenterForm" novalidate>
            <mat-dialog-content>
                <div fxLayout="column">
                        <div fxLayout="row wrap " fxFlex="100">
                         
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                                <mat-select placeholder="Exam Bags" name="univExamBagId" formControlName="univExamBagId" required>
                                    <ngx-mat-select-search  [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="serachExamBag($event.target.value)"></ngx-mat-select-search>
                                    <mat-option *ngFor="let obj of examlCenterListData" [value]="obj.univExamBagId">{{obj.bagSerialNo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                                <mat-checkbox name="isActive" formControlName="isActive">Active</mat-checkbox>
                            </section>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" *ngIf="examCenterForm.controls.isActive.value === false">
                                <input matInput placeholder="Reason" name="reason" formControlName="reason">
                            </mat-form-field>
                           
                        </div>
                    </div>
            </mat-dialog-content>
           
            <mat-dialog-actions>
                <button mat-raised-button class="cls-btn" mat-dialog-close>
                            Close
                            </button>
                <button mat-raised-button class="add-btn"  color="accent" (click)="submit()">
                 Save
                 </button>

            </mat-dialog-actions>
        </form>