<div class="content">
    <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
        <div class="mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <div fxLayoutAlign="start center" class="mod-head">
                <i class="material-icons icon-align">
                          layers
                          </i>
                <!-- <mat-icon>calendar_view_day</mat-icon> -->
                <span>{{dialogTitle}}</span>
            </div>
        </div>
    </div>
    <form name="marksSetupForm" [formGroup]="marksSetupForm" novalidate>
        <mat-dialog-content>
            <div fxLayout="column">
                <div fxLayout="row wrap " fxFlex="100">

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="75" fxFlex.gt-md="75">
                        <input matInput placeholder="Marks Setup Name" name="marksSetupName" formControlName="marksSetupName" required>
                    </mat-form-field>

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <mat-select placeholder="Subject Type" name="subjectTypeCatId" formControlName="subjectTypeCatId" required>
                            <mat-option *ngFor="let subjectType of subjectTypes" [value]="subjectType.generalDetailId">{{subjectType.generalDetailDisplayName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput type="number" placeholder="Internal Marks" name="internalMarks" formControlName="internalMarks">
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput type="number" placeholder="Regular Marks" name="externalMarks" formControlName="externalMarks">
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput type="number" placeholder="Pass Percentage" name="passPercentage" formControlName="passPercentage">
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput type="number" placeholder="Regular Pass Percentage" name="externalPassPercentage" formControlName="externalPassPercentage">
                    </mat-form-field>
                    <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <mat-checkbox name="isActive" formControlName="isActive">Active</mat-checkbox>
                    </section>
                </div>
                <div fxLayout="row wrap " fxFlex="100">

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" *ngIf="marksSetupForm.controls.isActive.value === false">
                        <input matInput placeholder="Reason" name="reason" formControlName="reason">
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>

            <button mat-raised-button class="cls-btn" mat-dialog-close>
          Close
      </button>
            <button mat-raised-button class="add-btn" color="accent" (click)="submit()">
          Save
      </button>
        </mat-dialog-actions>
    </form>
</div>