p{
    margin: 3px 0px !important;
}
p.details-off {
    font-weight: 500;
}
.colr{
    color: #0d29ff;
}
.textAR{
    border: 2px solid #dedede;
    margin: 0px 7px;
    padding: 5px 10px !important;
    height: 130px;
    border-radius: 3px;
}
h3{
    font-size: 16px;
    margin: 5px 7px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}