


<!-- <p>
    <button>
    <a href="http://103.56.30.252:8045/" target="_blank">  examination- Results</a>
</button>


</p> -->


<div id="dashboard" class="page-layout simple">

    <div class="center" fusePerfectScrollbar>


        <div class="content">


            <mat-card class="pd-card table-align ">
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between" fxLayoutGap="5">

                        <button class="btn-add" mat-raised-button color="accent" >
                                 Exam Results</button>
                    </div>
                </mat-card-content>



            </mat-card>


        </div>
    </div>