<div class="add-form">
    <div class="content">
        <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
            <div class="mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                <div fxLayoutAlign="start center" class="mod-head">
                    <i class="material-icons icon-align ">
                                ballot
                                </i>
                    <span>  {{dialogTitle}}</span>
                </div>
            </div>
        </div>
        <form name="configForm" [formGroup]="configForm" novalidate>
            <mat-dialog-content>
                <div fxLayout="column">
                    <div fxLayout="row wrap " fxFlex="100">
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <mat-select placeholder="Exam Regional Center" name="univExamReionalCenterId" formControlName="univExamReionalCenterId" required>
                                <mat-option *ngFor="let obj of univExamRegionalCenters" [value]="obj.univExamReionalCenterId">{{obj.examReionalCenterCode}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <mat-select placeholder="Exam Center" name="univExamcenterId" formControlName="univExamcenterId" required>
                                <mat-option *ngFor="let obj of univExamCenters" [value]="obj.univExamcenterId">{{obj.examcenterCode}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <mat-select placeholder="Exam Bags" name="univExamBagId" formControlName="univExamBagId" required>
                                <mat-option *ngFor="let obj of univExamAnswerPaperBags" [value]="obj.univExamBagId">{{obj.bagSerialNo}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33" >
                            <input matInput placeholder="vehicle Number" name="vehicleNumber" formControlName="vehicleNumber" required>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <input matInput placeholder="Vehicle Details" name="vehicleDetails" formControlName="vehicleDetails" required>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <input matInput placeholder="Driver Name" name="driverName" formControlName="driverName" required>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33" >
                            <input matInput placeholder="Driver Phone Number" name="driverPhoneNumber" formControlName="driverPhoneNumber" required>
                            <mat-error
                                *ngIf="!configForm.get('driverPhoneNumber').valid && (configForm.get('driverPhoneNumber').dirty || configForm.get('driverPhoneNumber').touched)">
                                *Enter valid mobile
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxLayout="column"class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <input matInput [matDatepicker]="receiveDate" name="receiveDate" formControlName="receiveDate" placeholder="receiveDate">
                            <mat-datepicker-toggle matSuffix [for]="receiveDate"></mat-datepicker-toggle>
                            <mat-datepicker #receiveDate></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                            <input matInput [matDatepicker]="dispatchDate" name="dispatchDate" formControlName="dispatchDate" placeholder="dispatchDate">
                            <mat-datepicker-toggle matSuffix [for]="dispatchDate"></mat-datepicker-toggle>
                            <mat-datepicker #dispatchDate></mat-datepicker>
                        </mat-form-field>
                        
                    </div>
                    <div fxLayout="row wrap " fxFlex="100">
                        <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                            <mat-checkbox name="isActive" formControlName="isActive">Active</mat-checkbox>
                        </section>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" *ngIf="configForm.value.isActive === false">
                            <input matInput placeholder="Reason" name="reason" formControlName="reason">
                        </mat-form-field>
                    </div>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-raised-button class="cls-btn" mat-dialog-close>
                            Close
                            </button>
                <button mat-raised-button class="add-btn" color="accent" (click)="submit()">
                 Save
                 </button>

            </mat-dialog-actions>
        </form>
    </div>
</div>