SPRING_API_URL=https://dev2.skolo.in.in:8443/cms
SESSION_SECRET=3234ebe92e15398b87a8cd848003b15afca3f0a694e5657c6e9583a03a8716236
SESSION_COOKIE_NAME=college_erp_session
NEXT_PUBLIC_APP_NAME=College ERP