.font-align {
    font-size: medium;
    font-weight: 500;
    margin: 0px;
}

.align {
    margin: 0px;
}

.student-img-active {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #34e834;
}

.student-img-inactive {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #f44336;
}

td {
    cursor: pointer;
}

i {
    color: black;
}

.radio-btn {
    margin: 20px 0px 0px 24px;
}

.r-btn {
    margin-left: 35px;
}

td {
    padding: 5px 5px !important;
}

.clr {
    color: blue;
}

.stnt-status-active {
    color: green;
    font-weight: 500;
}

.stnt-status-inActive {
    color: red;
    font-weight: 500;
}

.reg {
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: 500;
}

.rol-no {
    color: #828282;
    font-weight: 500;
    position: relative;
}

span i {
    position: absolute;
    top: -3px;
}

.ava {
    float: right;
    display: flex;
    color: #4CAF50;
    font-weight: bold;
    font-size: large;
}

.pd-page {
    padding: 22px 24px 0 !important;
}
.student-img {
    max-width: 100%;
    widows: 120px !important;
    vertical-align: top;
    border: none;
    border-radius: 50%;
}

.search-img {
    img{
        max-width: 100%;       
        widows: 120px !important;
        vertical-align: top;
        border: none;       
        border-radius: 50%;
    }
   
}
.question-bank{
    span:hover {
        color: #ff0099;
        cursor: pointer;
    }
}
.button-icon{
    width: 20%;
    i{
        color: white !important;
        vertical-align: inherit;
    }
}
.mat-icon{
color: #042956 ;
}
.upldBtn{
    
    color: white;
    margin-top: 18px;
    background-color: darkblue;

}
.clr {
    color: blue;
}
.question-bank{
    span:hover {
        color: #ff0099;
        cursor: pointer;
    }
}