tr.mat-mdc-footer-row {
  font-weight: bold;
}

.hover {
  cursor: pointer;
  text-align: center !important;
}

.countHead {
  font-weight: 500;
  font-size: 16px;
  color: #300505;
  text-align: right;
  margin-right: 2.3%;
}