<div id="dashboard" class="page-layout simple">

    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Examination Management</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Master</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Fee Structures</span>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <div fxLayout="column" class="radio-btn" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <mat-radio-group style="width: 100% !important;" [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button [value]="1" (change)="clear($event)">Is For University  </mat-radio-button>
                    <mat-radio-button [value]="2" (change)="clear($event)" class="r-btn">Is For College</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="fs  icon-align ">book</mat-icon>
                                    <strong class="table-heads">Exam Fee Structures</strong>
                                </div>
                            </div>
                        </mat-panel-title>
                        <label class="filter-align">Filter</label>
                        <mat-icon>filter_list</mat-icon>
                    </mat-expansion-panel-header>
                    <form name="staffForm" [formGroup]="staffForm" novalidate>
                        <div fxLayout="row">
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" 
                            fxFlex.gt-md="15">
                            <mat-select placeholder="University" name="universityId" formControlName="universityId" (selectionChange)="selectedUniversity(staffForm.value.universityId)"
                                required>
                                <mat-option *ngFor="let univ of universities" [value]="univ.fk_university_id"
                                matTooltip="{{univ.university_name}}">{{univ.university_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                            <mat-select placeholder="Course" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(staffForm.value.courseId)" required>
                                <mat-option *ngFor="let course of courses" [value]="course.fk_course_id">{{course.course_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <mat-select placeholder="Exam Year" name="academicYearId" formControlName="academicYearId" (selectionChange)="selectedAcademicYear(staffForm.value.academicYearId)" required>
                                <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear.fk_academic_year_id">{{academicYear.academic_year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="42" fxFlex.gt-md="43">   
                                <mat-select placeholder="Exam Master" name="examId" formControlName="examId" (selectionChange)="selectedExam(staffForm.value.universityId)"   required>
                                    <ngx-mat-select-search [placeholderLabel]="'Search Exam...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchExam($event.target.value)">
                                    </ngx-mat-select-search>
                                    <mat-option *ngFor="let exam of examDuplicateList" [value]="exam.fk_exam_id"
                                    matTooltip="{{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})">
                                    {{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})
                                        <span *ngIf="exam.is_internal_exam"
                                            style="color: #0014ff;font-weight: 500;">(Internal)</span>
                                        <span *ngIf="exam.is_regular_exam"
                                            style="color: #0014ff;font-weight: 500;">(Regular)</span>
                                        <span *ngIf="exam.is_supply_exam"
                                            style="color: #0014ff;font-weight: 500;">(Supple)</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                           
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16" *ngIf="check === 2">
                                <mat-select placeholder="College" name="collegeId" formControlName="collegeId" (selectionChange)="getExamFeestructures(staffForm.value.universityId)">
                                    <mat-option *ngFor="let college of colleges" [value]="college.fk_college_id">{{college.college_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
            <div class="header pd-pag2" fxLayout="column" fxLayoutAlign="space-between" *ngIf="this.flag === true">
                <div fxLayout="column" class="page-table-head" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                    <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="secondary-text fs">list_alt</mat-icon>
                        <span class="secondary-text table-head fs-20 rol-no" style=" font-size: medium !important;">Exam Fee Structure : <span style="color: blue !important;">
                               {{universityCode}} <span *ngIf="collegeName != '' || collegeName != null">{{collegeName}} / </span>
                              {{academicYear}} / {{courseName}} / {{examName}} ({{fromDate |date :dateFormate}} - {{toDate |date :dateFormate}})
                            <span *ngIf="isInternalExam"
                            style="color: #0014ff;font-weight: 500;">(Internal)</span>
                        <span *ngIf="isRegularExam"
                            style="color: #0014ff;font-weight: 500;">(Regular)</span>
                        <span *ngIf="isSupplyExam"
                            style="color: #0014ff;font-weight: 500;">(Supple)</span>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            <mat-card class="pd-card table-align" *ngIf="this.flag === true">
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between" fxLayoutGap="5">
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35" fxLayout="row" fxLayoutAlign="start center">
                            <label for="search" class="mr-8">
                                <mat-icon class="secondary-text">search</mat-icon>
                            </label>
                            <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                                <input matInput placeholder="Search">
                            </mat-form-field>
                        </div>
                        <button class="btn-add" mat-raised-button color="accent" (click)="addExamFeestructure()">
                            <i class="material-icons">add</i>
                            Add Exam Fee Structure </button>
                    </div>
                </mat-card-content>
                <div class="mat-elevation-z8">
                    <div class="example-container ">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SI.No </th>
                                <td mat-cell *matCellDef="let row; let i=index"> {{examsList.indexOf(row)+1}} </td>
                            </ng-container>
                            <!-- Exam Name Column -->
                            <ng-container matColumnDef="examFeeStructureName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Fee Structure</th>
                                <td mat-cell *matCellDef="let row"> {{row.examFeeStructureName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="examName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Master</th>
                                <td mat-cell *matCellDef="let row"> {{row.examName}} </td>
                            </ng-container>
                            <!-- Exam Month Year Column -->
                            <ng-container matColumnDef="ApplicableFor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Collection Start Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.collectionStartDate | date:'dd MMM, y'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ApplicableForend">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Collection End Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.collectionEndDate | date:'dd MMM, y'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="reg">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Regular Fee</th>
                                <td mat-cell *matCellDef="let row"> {{row.regFee}} </td>
                            </ng-container>
                            <ng-container matColumnDef="sup">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Supple Fee</th>
                                <td mat-cell *matCellDef="let row"> 
                                    <span *ngIf="row.subject1Fee != null"> Subject-1
                                        <span  class="rol-no"> - {{row.subject1Fee}}</span>
                                    </span>
                                    <span  *ngIf="row.subject2Fee != null"> , Subject-2
                                        <span class="rol-no"> - {{row.subject2Fee}}</span>
                                    </span>
                                    <span *ngIf="row.subject3Fee != null"> , Subject-3
                                        <span  class="rol-no"> - {{row.subject3Fee}}</span>
                                    </span>
                                    <span *ngIf="row.subject4Fee != null"> , Subject-4
                                        <span  class="rol-no"> - {{row.subject4Fee}}</span>
                                    </span>
                                    <span *ngIf="row.subject5Fee != null"> , Subject-5
                                        <span  class="rol-no"> - {{row.subject5Fee}}</span>
                                    </span>
                                    <span *ngIf="row.subject6Fee != null"> , Subject-6
                                        <span  class="rol-no"> - {{row.subject6Fee}}</span>
                                    </span>
                                    <span *ngIf="row.subject7Fee != null"> , Subject-7
                                        <span  class="rol-no"> - {{row.subject7Fee}}</span>
                                    </span>
                                    <span  *ngIf="row.supplyFee != null"> , More than 4
                                        <span  class="rol-no"> - {{row.supplyFee}}</span>
                                    </span>
                                
                                </td>
                            </ng-container>

                            <!-- From Date Column -->
                            <!-- <ng-container matColumnDef="fromDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.fromDate | date:'MMM d, y'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="toDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>To Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.toDate | date:'MMM d, y'}} </td>
                            </ng-container> -->

                            <!-- Is Active Column -->
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row.isActive==true" class="active">Active</span>
                                    <span *ngIf="row.isActive==false" class="in-active">InActive</span>
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let row" class="text-ctr">
                                    <i class="fa fa-eye eye-icon" matTooltip="View" (click)="viewExamFeeStructure(row);"></i> | <i class="material-icons edit " matTooltip="Edit" (click)="editExamFeestructure(row)"> border_color</i>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                </div>

            </mat-card>

            <!-- / CONTENT -->

        </div>
    </div>
</div>