.grid{
    padding: 0.1%;
}

@media print {
    #printNone {
      display: none !important;
      visibility: hidden !important;
    }
    .mar-20{
         margin: 0px 20px !important;
    }
    .print-section{
  display: block;
    }
   
    #table-print {
        border-collapse: collapse;
        width: 100%;
      }
    
      table, th, td {
        padding: 8px;
      }
    
      th {
        background-color: #f2f2f2;
      }
    table {
        page-break-inside: auto;
      }
      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }
    header nav, footer {
      display: none;
   }
  //  .instructtable{
  //   margin: 5px !important;
  //  }
  }
  .firstborder{
    border-collapse:collapse ;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #c5bec0 !important;
    margin-bottom: 10px !important;
    display: none;
    }
    .icon{
        color: aliceblue !important;
        padding: 4px;
    }
    .collegeName{
        text-align: center !important;
        font-weight: 600 !important;
        font-size: 30px !important;
         margin-top: 20px !important; 
         margin-bottom: -15px !important; 
         margin-top: -5px !important; 
         font-family: none !important;
          color: rgb(0, 0, 0) !important
    }
    .title{
       font-weight: 600 !important;
        text-align: center !important;
        font-size: 25px !important;
        font-family: none !important;
         color: rgb(0, 0, 0) !important
    }
    .title-2{
       font-weight: 600 !important;
        text-align: center !important;
        font-size: 20px !important;
        font-family: none !important;
         color: rgb(0, 0, 0) !important;
          margin-top: -20px !important; 

    }
    .clglogo{
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        
    }
    h3{
        font-weight: bold !important;
    }