<div class="add-form">
  <div class="content">
      <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
          <div class="mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
              <div fxLayoutAlign="start center" class="mod-head">
                  <i class="material-icons icon-align ">
                      ballot
                  </i>
                  <span>Add Additional Exam Fees</span>
              </div>
          </div>
      </div>

      <div fxLayout="column" class="div-border" *ngIf="!isEmptyObject(data)">
          <div fxLayout="row wrap " fxFlex="100">
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                  <p class="details-off">Exam </p>
              </div>
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                  <p class="details-off"><span class="colr"> {{data.examName}} </span></p>
              </div>
          </div>
          <div fxLayout="row wrap " fxFlex="100">
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                  <p class="details-off">Exam Type: </p>
              </div>
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                  <p class="details-off"><span class="colr"> {{data.examtypeCatCode}}</span></p>
              </div>
          </div>
          <div fxLayout="row wrap " fxFlex="100">
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                  <p class="details-off">Course Details : </p>
              </div>
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                  <p class="details-off" *ngIf="data.examStudentDTOs.length > 0"><span class="colr"> {{data.collegeCode}} <span *ngIf="data.examStudentDTOs.length > 0"> / {{data.examStudentDTOs[0].academicYear}}</span> / {{data.examStudentDTOs[0].courseName}} / {{data.groupCode}} / {{data.examStudentDTOs[0].courseYearCode}}</span></p>
              </div>
          </div>
          <div fxLayout="row wrap " fxFlex="100">
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                  <p class="details-off">Receipt No. : </p>
              </div>
              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                  <p class="details-off"><span class="colr"> {{data.feeReceiptNo}} </span></p>
              </div>
          </div>
      </div>
      <form name="invStaffForm" [formGroup]="invStaffForm" novalidate>
          <mat-dialog-content>
              <div fxLayout="column" class="div-border" style="margin-bottom: 20px">
                  <div fxLayout="row wrap " fxFlex="100">
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-md="35">
                          <mat-select placeholder="Additional Fee Type" name="feeAddtId" formControlName="feeAddtId" (selectionChange)="SelectedFeeType(invStaffForm.value.feeAddtId)" required>
                              <mat-option *ngFor="let addFee of addFeeStructures" [value]="addFee.feeAddtId">{{addFee.adtExamfeetypeCatDisplayName}} </mat-option>
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-md="35" *ngIf="addFeeType === 'REVISEDSUBJECTS'">
                          <mat-select placeholder="Exam Revision Type" name="examRevisionTypeId" formControlName="examRevisionTypeId" (selectionChange)="SelectedRevisionType(invStaffForm.value.examRevisionTypeId)" >
                              <mat-option *ngFor="let examRev of examRevisionMaster" [value]="examRev.examRevisionTypeId">{{examRev.examRevisionTypeName}}</mat-option>
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" >
                        <input matInput type="number" placeholder="Add. Fee Amt" name="fee" formControlName="fee" required>
                    </mat-form-field>
                    <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10" *ngIf="addFeeType != 'REVISEDSUBJECTS'">
                        <button mat-raised-button class="add-btn " color="accent" (click)="addDetails()">Add</button>
                    </div>
                  </div>
              </div>

              <div fxLayout="column" class="div-border" style="margin-bottom: 20px" *ngIf="addFeeType == 'REVISEDSUBJECTS' && flag">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <!-- <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxLayout="row" fxLayoutAlign="start center">
                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                        </div>
                    </div> -->
                    <span class="roll-no">
                        Subjects: <span style="color: silver;">{{selectedCount}}</span>
                    </span>
                </div>
                <div class="firstTable">
                    <table class="mar">
                        <thead>
                            <tr>
                                <th class="table-th" style="width: 15% !important;">
                                    <mat-checkbox [(ngModel)]="checksubject" style=" padding: 5px;" (change)="markAll()" [ngModelOptions]="{standalone: true}"></mat-checkbox>All</th>
                                <th class="table-th">Subjects</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let  objct of examStudentDetails; let i=index">
                                <td class="table-td" style="width: 15% !important;">
                                    <mat-checkbox (click)="checkedSubjects(!objct.checked,objct)" style="text-align: center;" [(ngModel)]="objct.checked" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                </td>
                                <td class="table-td">{{objct.shortName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p *ngIf="selectedCount > 0" style="color: blue;font-weight: 500;margin-left: 15px !important;">Revised amount for {{selectedCount}} subjects is {{selectedCount * revisedAmt}}.</p>
            </div>
            <!-- <div fxLayout="column" class="bordr firstTable-sub" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" *ngIf="selectedSubjects.length > 0" >
                <table class="mar">
                    <thead>
                        <tr>
                            <th class="table-th">Selected Subjects : <span style="color: silver;">{{selectedCount}}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let  sub of selectedSubjects; let i=index">
                            <td class="table-td">{{sub.shortName}} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

              <div fxLayout="column" class="div-border" style="margin-bottom: 20px" *ngIf="addFeeType != 'REVISEDSUBJECTS'">
                <div fxLayout="row wrap " fxFlex="100">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SI.No </th>
                            <td mat-cell *matCellDef="let row; let i=index"> {{addExamFeeList.indexOf(row)+1}} </td>
                        </ng-container>

                        <!-- Invigilator Emp Name Column -->
                        <ng-container matColumnDef="adtExamfeetypeCatDisplayName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Additional Fee Type</th>
                            <td mat-cell *matCellDef="let row"> {{row.addtExamFeeTypeName}} </td>
                        </ng-container>

                        <!-- Invigilator Designation Column -->
                        <ng-container matColumnDef="fee">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee Amount</th>
                            <td mat-cell *matCellDef="let row"> {{row.addtFeeAmount}} </td>
                        </ng-container>

                        <!-- Is Active Column -->
                        <!-- <ng-container matColumnDef="isActive">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row">
                                <span *ngIf="row.isActive==true" class="active">Active</span>
                                <span *ngIf="row.isActive==false" class="in-active">InActive</span>
                            </td>
                        </ng-container> -->

                        <!-- Actions Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row; let i = index;" class="text-ctr">
                                <i class="fa fa-times edit" *ngIf="!row.examAddtFeeReceiptId"  (click)="deleteAddExamFee(row,i)" ></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                </div>
                
            </div>
            
          </mat-dialog-content>
          <mat-dialog-actions>
              <button mat-raised-button class="cls-btn" mat-dialog-close>
      Close
  </button>
              <button mat-raised-button class="add-btn" color="accent" (click)="submit()">
      Save
  </button>
          </mat-dialog-actions>
      </form>
  </div>
</div>