
h4 {
    font-weight: bold;
    margin: 3px;
}
/* TOOLTIP */

.tooltip {
position: relative;
overflow: hidden;
&:hover {
    overflow: visible;
    z-index: 1;
    .tooltip-content {
        opacity: 1;
    }
}
.tooltip-content {
    background: #fff;
    border: 1px solid;
    box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
    box-sizing: border-box;
    color: #000;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 200px;
    min-width: 190px;
    padding: 1em;
    position: absolute;
    opacity: 1;
    transition: all .3s ease;
    font-size: 10px;
    &::after {
        background: #fff;
        content: "";
        border-left: 1px solid #042956;
        border-bottom: 1px solid #042956;
        height: 10px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg) !important;
        width: 10px;
    }
    h5 {
        background: #00bcd433;
        padding: 7px 0px;
        margin: 2px 0px 10px 0px;
        text-align: center;
    }
}
&.right {
    .tooltip-content {
        left: calc(100% + 1.5em);
        top: -60%;
        //  transform: translateY(-50%);
        &::after {
            left: -5px;
            margin-top: -5px;
            top: 50%;
        }
    }
}
}
.search-box{
position: relative;
margin-left: 14px;
input{
   // width: 100%;
    border: 2px solid #dcdad3;
    padding: 7px 10px 7px 32px;
    margin: -8px 0px 3px 0px;
    border-radius: 5px;
}
i{
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 15px;
}
}
span.roll-no {
font-size: 17px;
font-weight: 500;
}
.buttons{
justify-content: end !important;
display: flex !important;
font-weight: bold !important;
}
.maxmarks{
color: red !important;
padding: 0px 10px !important;
}
/******* Existing Print Css *******/
@media print {
#printNone {
display: none !important;
visibility: hidden !important;
}
body {
counter-reset: page;
}
.page-footer {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
font-size: 10pt;
}
.mar-20 {
margin: 0px 20px !important;
}
.print-section {
display: block;
}
.pageNo {
text-align: center !important;
}
#table-print {
border-collapse: collapse;
width: 100%;
}
table, th, td {
padding: 8px;
}

table {
page-break-inside: auto;
}
tr {
page-break-inside: avoid;
page-break-after: auto;
}
thead {
display: table-header-group;
}
tfoot {
display: table-footer-group;
}
header nav, footer {
display: none;
}
}
.firstborder{
border-collapse:collapse ;
border-style: solid !important;
border-width: 2px !important;
border-color: #c5bec0 !important;
margin-bottom: 10px !important;
}
.lastborder{
    border-collapse:collapse ;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #c5bec0 !important;
    margin-top: 5px !important;
    }
#table2{
font-family: arial, sans-serif;
font-size: 12px !important;
border-collapse:collapse ;
border-style: solid !important;
border-width: 2px !important;
border-color: #c5bec0 !important;

th{
font-family: arial, sans-serif;
font-size: 12px !important;
border-style: solid;
border-style: solid !important;
border-width: 2px !important;
border-color: #c5bec0 !important;
padding: 8px !important;
justify-content: left;
}
td{
font-family: arial, sans-serif;
font-size: 12px !important;
border-style: solid !important;
border-width: 2px !important;
border-color: #c5bec0 !important;
padding: 8px !important;
}
}

#table{
font-family: arial, sans-serif;
font-size: 12px !important;
border: none !important;
padding: 5px !important;

th{
    font-family: arial, sans-serif;
    font-size: 12px !important;
  border: none !important;
    width: 20% !important;
    text-align: right;
   padding: 0px !important;
}
td{
    font-family: arial, sans-serif;
    font-size: 12px !important;
    text-align: left !important;
border: none !important;
padding: 0px !important;
}   
}
span{
padding: 8px;
}
.Hallticket{
height: 1048px !important;
 max-height: 1048px !important;
 overflow: auto !important;
}



.admit-card {
    border-bottom: 2px solid;
    border-top: 2px solid;
width: 100% !important;
margin: 0 auto;
font-family: Arial, sans-serif;
}

h2 {
text-align: center;
text-transform: uppercase;
// margin-bottom: 40px;
font-weight: bold !important;
margin-top: 15px !important;
font-size: 20px !important;
}

.student-info {
max-width: 100% !important;
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
justify-content: center;
}
.details-table {
width: 80%;
border-collapse: collapse;
margin-bottom: 20px;
border: 1px solid #000 !important;

}

.details-table th, .details-table td {
border: 1px solid #000 !important;
padding: 3px !important;
text-align: left;
font-size: 12px !important
}



.photo img {
width: 100px !important;
height: auto !important;
border: 1px solid #000 !important;
}
.faculty-details{
max-width: 100% !important;
display: block !important;
margin: 20px !important;
flex-wrap: wrap;
.course-table {
width: 100% ;
border-collapse: collapse ;
margin-bottom: 20px;
border: 1px solid #000 !important;
}

.course-table td {
border: 1px solid #000 !important;
padding: 5px !important;
text-align: left !important;
font-size: 14px !important;
}
.course-table th{
border: 1px solid #000 !important;
padding: 5px !important;
text-align: left !important;
font-size: 14px !important;
}
}
.courses-details{
max-width: 100% !important;
display: flex;
flex-wrap: wrap;
// #C-Table{
//     td{

//     }
// }
.course-table {
width: 100% ;
border-collapse: collapse ;
margin-bottom: 20px;
border: 1px solid #000 !important;
}

.course-table td {
border: 1px solid #000 !important;
padding: 5px !important;
text-align: left !important;
font-size: 14px !important;
}
.course-table th{
border: 1px solid #000 !important;
padding: 5px !important;
text-align: center !important;
font-size: 14px !important;
}
}
.p-tag{
font-size: 11px !important; 
  margin-bottom: -8px !important;
  text-align: center !important;
  font-weight: bold;
}
.p-2tag{
font-size: 14px !important; 
margin-bottom: -8px !important;
text-align: center !important;
font-weight: bold;
text-transform: uppercase !important;
}

.signatures-4 {
display: flex;
justify-content: space-between;
margin: 5px ;
}
.signatures-2 {
display: flex;
justify-content: space-between;
margin-top: 40px !important;
}

.signature-1 {
    width: 25%;
    text-align: center;
    font-size: smaller;
    font-weight: 500;
}
.max-Marks {
width: 100%;
text-align: right !important;
font-weight: 500 !important;
}
.signature-3 {
width: 50%;
text-align: center;
}

.issue-date {
text-align: left;
// margin-left: 8px !important;

}


.p-collegeName{
      
text-align: center;
font-weight: bold;
margin-bottom: -10px !important;
font-size: 22px; margin-top: 5px ; 
font-family: none; color: rgb(36, 99, 154);
 text-transform: uppercase !important; 

}
.p-collegAdd{
font-size: 15px;
font-family: none;
 color: rgb(36, 99, 154);
  text-align: center !important;
font-weight: bold;
margin-bottom: -10px !important;
}
.ht-head{
text-align: center !important;
font-weight: bold;
margin-bottom: -10px !important;
font-size: 26px; 
font-family: none;
 margin-top: 12px;
  text-align: center !important;
}
.p-examName{
text-align: center;
font-weight: bold;
margin-bottom: -10px;
font-size: 15px;  
margin-bottom: 7px !important;
 margin-bottom: 10px !important;
font-family: none !important;
display: flex !important;
justify-content: center !important;
}


.std-img{
height:96px !important;
width: 100px !important;
align-items: center !important;
vertical-align: middle !important;
margin: 15px !important;

} 
.org-logo{
vertical-align: middle !important;
align-items: center !important;
display:  flex !important;
width: 100px !important;
height: 100px !important;
margin-top: 10px !important;
}

#sigtable{
font-size: 12px !important;
border: none !important;
padding: 5px !important;
margin-top: 60px !important;

th{
  font-family: arial, sans-serif;
  font-size: 13px !important;
border: none !important;
text-align: center !important;
 padding: 0px !important;
 font-weight: 600;
}
td{
  font-family: arial, sans-serif;
  font-size: 13px !important;
  text-align: center !important;
  border: none !important;
  padding: 0px !important;
  font-weight: 600;

}   
.signInternal{
padding-right: 35% !important;
}
.p-20{
padding-right:10% !important;
}
.p-t-2{
padding-top: 1.95% !important;
}
}
/******* New Print Css *******/
.layout{
width:100% !important;
}
.main-div{
    width: 60% !important;
    margin: auto;
    margin-top: 12px;
    border: 1px solid;
}
.printbtn{
    padding: 10px;
    display: flex;
    margin-left: 80%;
}
#sigtable-1{
    font-size: 12px !important;
    border: none !important;
    // padding: 5px !important;
    // margin-top: 60px !important;
    
    th{
      font-family: arial, sans-serif;
      font-size: 15px !important;
    border: none !important;
    text-align: center !important;
     padding: 0px !important;
     font-weight: 600;
    }
    td{
      font-family: arial, sans-serif;
      font-size: 15px !important;
      text-align: center !important;
      border: none !important;
      padding: 0px !important;
      font-weight: 600;
    
    }   
    .signInternal{
    padding-right: 35% !important;
    }
    .p-20{
    padding-right:10% !important;
    }
    .p-t-2{
    padding-top: 1.95% !important;
    }
    }
    .h2{
        font-weight: bold !important;
    }