<div id="dashboard" class="page-layout simple">

    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Examination Management</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Master</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam College Timetable</span>
                    
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="fs  icon-align ">book</mat-icon>
                                    <strong class="table-heads">Exam College Timetable</strong>
                                    <span *ngIf="dataSecStaff || dataSECPrincipal" style="font-weight: 550;
                                                    margin-left: 7px;
                                                    font-size: 16px;">For : {{data}}</span>
                                </div>
                            </div>
                        </mat-panel-title>
                        <label class="filter-align">Filter</label>
                        <mat-icon>filter_list</mat-icon>
                    </mat-expansion-panel-header>
                    <form name="staffForm" [formGroup]="staffForm" novalidate>
                        <div fxLayout="row">
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                                <mat-select placeholder="Course" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(staffForm.value.courseId)" required>
                                    <mat-option *ngFor="let course of courses" [value]="course.fk_course_id">{{course.course_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                                <mat-select placeholder="Exam Year" name="academicYearId" formControlName="academicYearId" (selectionChange)="selectedAcademicYear(staffForm.value.academicYearId)" required>
                                    <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear.fk_academic_year_id">{{academicYear.academic_year}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="55" fxFlex.gt-md="55">
                                <mat-select placeholder="Exam Master" name="examId" formControlName="examId" (selectionChange)="selectedExam(staffForm.value.examId)" required>
                                    <ngx-mat-select-search [formControl]="ExamMasterFilterCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchexam($event.target.value)"></ngx-mat-select-search>    
                                    <mat-option *ngFor="let exam of examData" [value]="exam.fk_exam_id" matTooltip="{{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})"
                                    >
                                            {{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})
                                    <span *ngIf="exam.is_internal_exam" style="color: #0014ff;font-weight: 500;"  matTooltip='Internal'>(Internal)</span>
                                    <span *ngIf="exam.is_regular_exam" style="color: #0014ff;font-weight: 500;" matTooltip="Regular">(Regular)</span>
                                    <span *ngIf="exam.is_supply_exam" style="color: #0014ff;font-weight: 500;" matTooltip="Supple">(Supple)</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                                <mat-select placeholder="College" name="collegeId"  formControlName="collegeId" (selectionChange)="selectedCollege()" required>
                                    <mat-option *ngFor="let college of colleges" [value]="college.fk_college_id">{{college.college_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                                <mat-select placeholder="Course Year" name="courseYearId" formControlName="courseYearId" (selectionChange)="selectedCourseYear()" required>
                                    <mat-option *ngFor="let courseYear of courseYears" [value]="courseYear.fk_course_year_id">{{courseYear.course_year_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                          
                            <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="55" fxFlex.gt-md="55">
                                <mat-select placeholder="Exam Master" name="examId" formControlName="examId" (selectionChange)="selectedExam()" required>
                                    <ngx-mat-select-search [formControl]="ExamMasterFilterCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchexam($event.target.value)"></ngx-mat-select-search>    
                                    <mat-option *ngFor="let exam of examData" [value]="exam.fk_exam_id" matTooltip="{{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})"
                                    >
                                            {{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})
                                    <span *ngIf="exam.is_internal_exam" style="color: #0014ff;font-weight: 500;"  matTooltip='Internal'>(Internal)</span>
                                    <span *ngIf="exam.is_regular_exam" style="color: #0014ff;font-weight: 500;" matTooltip="Regular">(Regular)</span>
                                    <span *ngIf="exam.is_supply_exam" style="color: #0014ff;font-weight: 500;" matTooltip="Supple">(Supple)</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                        <div fxLayout="row">
                           
                            <!-- <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" style="margin-top: 10px;" *ngIf="staffForm.value.courseYearId">
                                <button class="btn-add" mat-raised-button color="accent" (click)="addExamTimetable()">
                                    <i class="material-icons">add</i>
                                    Create Timetable</button>
                            </div> -->
                        </div>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
            <div class="header pd-pag2" fxLayout="column" fxLayoutAlign="space-between" *ngIf="staffForm.value.courseYearId">
                <div fxLayout="column" class="page-table-head" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start" style="    align-items: flex-start;
                position: relative;
                padding: 10px;">
                    <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                        <!-- <mat-icon class="secondary-text icon-align ">table_chart</mat-icon> -->
                        <i class="material-icons icon-align ">
                                ballot
                                </i>
                        <!-- <h1 class="secondary-text table-head fs-20">Campus</h1> -->
                        <small class="table-heads">{{collegeCode}} / {{courseCode}} / {{academicYear}} / {{courseYear}} - (
                            {{examDetails?.exam_name}} ({{examDetails?.from_date | date:dateFormate}} - {{examDetails?.to_date | date:dateFormate}})
                                        <span *ngIf="examDetails?.is_internal_exam"
                                            style="color: #0014ff;font-weight: 500;">[Internal]</span>
                                        <span *ngIf="examDetails?.is_regular_exam"
                                            style="color: #0014ff;font-weight: 500;">[Regular]</span>
                                        <span *ngIf="examDetails?.is_supply_exam"
                                            style="color: #0014ff;font-weight: 500;" >[Supple]</span>) </small>
                    </div>
                    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="18" fxFlex.gt-md="18" style="margin-top: 10px;    position: absolute;
                    right: 10px;
                    top: -10px;" 
                    *ngIf="staffForm.value.courseYearId">
                        <button class="btn-add" mat-raised-button color="accent" (click)="addExamTimetable()">
                 <i class="material-icons">add</i>
                 Create Shedule</button>
                     </div>
                </div>

            </div>
            <mat-card class="pd-card table-align" *ngIf="staffForm.value.courseYearId">
                    <p style="color: #000;color: #000;
                    margin: 5px 0px;
                    text-align: right;"><span style="background: #99deff;
                        padding: 0 3px;border: 1px solid #bbbbbb;">M</span> MORNING
                        <span style="background: #fff258;
                        padding: 0 3px;border: 1px solid #bbbbbb;">A</span> AFTERNOON</p>
                <!-- <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between" fxLayoutGap="5">
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35" fxLayout="row" fxLayoutAlign="start center">
                          
                        </div>
                        <p style="color: #000;"><span style="background: #99deff;
                            padding: 0 3px;border: 1px solid #bbbbbb;">M</span> MORNING
                            <span style="background: #fff258;
                            padding: 0 3px;border: 1px solid #bbbbbb;">A</span> AFTERNOON</p>
                    </div>
                </mat-card-content> -->

                <div class="mat-elevation-z8">
                    <div class="example-container ">
                        <table class="mar">
                            <thead>
                                <tr>
                                    <th class="table-th" style="width: 8% !important;text-align: center;text-transform: uppercase;">Branch</th>
                                    <th class="table-th" *ngFor="let dt of dateArray; let i=index" style="text-align: center;width: 15% !important;">
                                        {{dt | date:'dd MMM, y'}}
                                        <p style="margin: 0;
                                        color: blue;">({{dt.day}})</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gr of courseGroups; let i=index">
                                    <td class="table-td" style="width: 8% !important;text-align: center;text-transform: uppercase;">
                                        <!-- {{gr.groupName}} -->
                                        <p style="margin: 0;
                                        color: blue;">{{gr.group_code}}</p>
                                    </td>
                                    <td class="table-td" *ngFor="let grDt of gr.dates;" style="text-align: center;width: 18% !important;position: relative;">
                                        <p *ngFor="let sub of grDt.subjectDetails;" style="position: relative;text-align: left;" [ngClass]="{
                                            'afternoon-session': sub.flg === 'clgwise' && sub.examsessioninCatCode === 'AFTERNOON',
                                            'univ-session': sub.flg !== 'clgwise'}" class="box-ext" (click)="sub.flg=='clgwise' && editDialog(sub)">
                                            <!-- {{sub.shortName}} -->
                                            <span style="margin-right: 30px;">{{sub.subjectCode}} <span *ngIf="sub.examLabBatchName">({{sub.examLabBatchName}})</span></span> 
                                        
                                           <span *ngIf="sub.examTypeCatCode == 'Regular'" class="exam-type">R</span>
                                           <span *ngIf="sub.examTypeCatCode == 'Supple'" class="exam-type">S</span>
                                           <span *ngIf="sub.examTypeCatCode == 'Internal'" class="exam-type">I</span>
                                        </p>
                                        <span *ngIf="gr.dates.length > 0 && grDt.subjectDetails.length === 0"> 
                                           -
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SI.No </th>
                                <td mat-cell *matCellDef="let row; let i=index" style="text-align: center;"> {{examTimetableList.indexOf(row)+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="examSessionName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Session</th>
                                <td mat-cell *matCellDef="let row">{{tConvert(row.sessionStartTime)}} to {{tConvert(row.sessionEndTime)}} ({{row.examSessionName}})</td>
                            </ng-container>

                            <ng-container matColumnDef="groupCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
                                <td mat-cell *matCellDef="let row"> {{row.groupCode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="regulationCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Regulation</th>
                                <td mat-cell *matCellDef="let row"> {{row.regulationCode}} </td>
                            </ng-container>
                            <ng-container matColumnDef="examTypeCatCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Type</th>
                                <td mat-cell *matCellDef="let row"> {{row.examTypeCatCode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="subjectCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
                                <td mat-cell *matCellDef="let row"> {{row.subjectCode}} - {{row.subjectName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="examDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.examDate | date:'dd MMM, y'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                                <td mat-cell *matCellDef="let row"> 
                                        <i class="material-icons edit" matTooltip="Edit" (click)="editDialog(row)"> border_color</i>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table> -->
                    </div>
                    <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
                </div>
                <div class="save-btn-align" *ngIf="staffForm.value.courseYearId" >
                    <button mat-raised-button class="add-btn" color="accent" (click)="checkconfilcts()">Check Conflicts</button>
            </div>
            </mat-card>
            <!-- / CONTENT -->
        </div>
    </div>
</div>