.mt-1 {
    margin-top: 1% !important;
}
table {
    width: 100%;
    border-spacing: 0px !important;
    padding: 0px 8px 10px 8px !important;
}

th {
    padding: 5px 5px !important;
    background: #fff !important;
    border-bottom: 5px solid #c3d9ff !important;
}

td {
    padding: 5px 5px !important;
}

tr:nth-child(even) {
    background: #f1f6ff
}

tr:nth-child(odd) {
    background: #FFF
}

.table-bac {
    background: #C3D9FF;
    margin: 0 9px;
    padding: 12px 2px;
    border-radius: 3px;
}
