.radio-btn {
    margin-left: 30px;
}

.r-btn {
    margin-left: 35px;
}
.mat-card {
padding: 26px !important;
margin-top: -26px !important;
}
.savebtn-align{
    justify-content: end;
    display: flex;
}

