<div id="dashboard" class="page-layout simple">

    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Examination Management</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Pre Examination</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Fee Structure</span>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="fs  icon-align ">book</mat-icon>
                                    <strong class="table-heads">Exam Fee Structure</strong>
                                </div>
                            </div>
                        </mat-panel-title>
                        <label class="filter-align">Filter</label>
                        <mat-icon>filter_list</mat-icon>
                    </mat-expansion-panel-header>
                    <form name="staffForm" [formGroup]="staffForm" novalidate>
                        <div fxLayout="row">
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                                <mat-select placeholder="College" name="collegeId" formControlName="collegeId" (selectionChange)="selectedCollege(staffForm.value.collegeId)" required>
                                    <mat-option *ngFor="let college of colleges" [value]="college.collegeId">{{college.collegeCode}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                                <mat-select placeholder="Course" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(staffForm.value.courseId)" required>
                                    <mat-option *ngFor="let course of courses" [value]="course.courseId">{{course.courseCode}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                                <button mat-raised-button class="add-btn" color="accent" (click)="getExamFeestructures(staffForm.value.collegeId)">Get List</button>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>

            <mat-card class="pd-card table-align" >
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between" fxLayoutGap="5">
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35" fxLayout="row" fxLayoutAlign="start center">
                            <label for="search" class="mr-8">
                                <mat-icon class="secondary-text">search</mat-icon>
                            </label>
                            <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                                <input matInput placeholder="Search">
                            </mat-form-field>
                        </div>
                        <button class="btn-add" mat-raised-button color="accent" (click)="addExamFeestructure()">
                            <i class="material-icons">add</i>
                            Add </button>
                    </div>
                </mat-card-content>

                <div class="mat-elevation-z8" >
                    <div class="example-container ">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SI.No </th>
                                <td mat-cell *matCellDef="let row; let i=index"> {{examsList.indexOf(row)+1}} </td>
                            </ng-container>

                            <!-- Exam Name Column -->
                            <ng-container matColumnDef="examFeeStructureName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Fee Structure</th>
                                <td mat-cell *matCellDef="let row"> {{row.examFeeStructureName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="examName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam</th>
                                <td mat-cell *matCellDef="let row"> {{row.examName}} </td>
                            </ng-container>

                            <!-- Exam Month Year Column -->
                            <ng-container matColumnDef="ApplicableFor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Collection Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.collectionStartDate | date:'MMM d, y'}} - {{row.collectionEndDate | date:'MMM d, y'}} </td>
                            </ng-container>

                            <!-- From Date Column -->
                            <!-- <ng-container matColumnDef="fromDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.fromDate | date:'MMM d, y'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="toDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>To Date</th>
                                <td mat-cell *matCellDef="let row"> {{row.toDate | date:'MMM d, y'}} </td>
                            </ng-container> -->

                            <!-- Is Active Column -->
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row.isActive==true" class="active">Active</span>
                                    <span *ngIf="row.isActive==false" class="in-active">InActive</span>
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let row" class="text-ctr"> 
                                        <i class="fa fa-eye eye-icon" matTooltip="View" (click)="viewExamFeeStructure(row);"></i> | <i class="material-icons edit " matTooltip="Edit" (click)="editExamFeestructure(row)"> border_color</i> 
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                </div>

            </mat-card>

            <!-- / CONTENT -->

        </div>
    </div>
</div>