<div id="admission-dashboard" class="page-layout simple">
    <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column"
            fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Examination Management</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Post Examination</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>View Exam Marks</span>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="content pd-card mt-15">
        <div class="mat-elevation-z8 bkgrd">
            <form name="examFeeCollectionForm" [formGroup]="examFeeCollectionForm" style="padding-bottom: 1px;"
                class="form-pad" novalidate>
                <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                    <i class="material-icons sub-header-icon">money</i>
                    <span class="sub-header-text">View Exam Marks</span>
                </div>
                <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd" style="padding: 0px 15px;">
                    <div fxLayout="row wrap " fxFlex="100">
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-md="40">
                            <mat-select placeholder="Exam" name="universityExamId" formControlName="universityExamId"
                                (selectionChange)="getSubjectDetailList(this.examFeeCollectionForm.value.universityExamId,$event)"
                                required>
                                <ngx-mat-select-search (keyup)="searchExamDetailsList($event.target.value)"
                                    [placeholderLabel]="'Search  Names...'"></ngx-mat-select-search>
                                <mat-option *ngFor="let row of examDuplicateList" matTooltip="{{row.exam_name}}"
                                    [value]="row.fk_university_exam_id">{{row?.exam_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <mat-select placeholder="Subject" name="subjectId"
                                (selectionChange)="getSubjectName($event)" formControlName="subjectId">
                                <ngx-mat-select-search (keyup)="searchSubjects($event.target.value)"
                                    [placeholderLabel]="'Search  Names...'"></ngx-mat-select-search>
                                <mat-option *ngFor="let row of subjectDuplicateList"
                                    matTooltip="{{row.subject_code}}-{{row.subject_name}}"
                                    [value]="row.subject_code">{{row.subject_code}}-{{row.subject_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="save-btn">
                            <button mat-raised-button class="add-btn" color="accent" (click)="getDetails()">Get
                                List</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="flag">
                    <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd std-his">
                        <div fxLayout="row" class="mar-8">
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                                <img class="img-marks pic" src="assets/images/logos/exam.png">
                            </div>
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="85" fxFlex.gt-md="85"
                                style="padding: 10px 0px;line-height: 0px;">
                                <p>{{examName}} </p>
                                <!-- <p *ngIf="!student.isLateral">{{student.firstName}} (<span style="color: blue;">REGULAR</span>) </p> -->
                                <p style="color: #8c8c8c !important;" *ngIf="section !== null"> {{course}}
                                    <span style="color: blue;" *ngIf="academicYear !== null">({{academicYear}})</span>
                                </p>
                                <p style="color: #000000 !important;font-weight: bold;">
                                    <span class="rol-no"> {{subjectTypCode}}</span> ({{subjectName}})
                                </p>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" class="inner-bkgrd yar-bordr" style="margin: 12px 24px !important;">
                        <!-- <h4>Students List</h4> -->
                        <div fxLayout="row">
                            <span class="roll-no">
                                Students List
                            </span>
                            <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="15" fxFlex.gt-md="15"
                                fxLayout="row">
                                <div class="search-box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="100" class="mlr-15 inner-bkgrd">
                            <div fxLayout="row" class="mar-8 table-bac firstTable marks-entry">
                                <div style="overflow-x: auto; overflow-y: auto; height: 300px; width: 100%; ">
                                    <table #table mat-table [dataSource]="tabledataSource" matSort>
                                        <ng-container *ngFor="let header of displayedColumns; let i = index"
                                            [matColumnDef]="header">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20px;">
                                                {{ header }}</th>
                                            <td mat-cell *matCellDef="let row">{{ row[header] }}</td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->

</div>