.ex_type{
    color: #0014ff;
    font-weight: 500;
    margin: 5px 2px;
}
.exam-master-details{
    color: #0014ff;
    margin: 5px 2px;
    cursor:pointer !important;
}
.radio-btn {
    margin: 20px 0px 0px 24px;
}
.r-btn {
    margin-left: 4% !important;
}