<div id="admission-dashboard" class="page-layout simple" id="printNone">

    <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Examination</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Pre Examination</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Exam Scheduling Forms</span>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content pd-card mt-15">
        <div class="mat-elevation-z8 bkgrd">
            <form name="staffForm" [formGroup]="staffForm" style="padding-bottom: 1px;" class="form-pad" novalidate>
                <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                    <i class="material-icons sub-header-icon">computer</i>
                    <span class="sub-header-text"> Exam Scheduling Forms</span>
                </div>
                <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd div-border">

                    <div fxLayout="row wrap " fxFlex="100">
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="8" fxFlex.gt-md="8" *ngIf="!isEmptyObject(pageParams)">
                            <p class="details-off">Course  </p>
                        </div>:
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                            <p class="details-off"><span class="rol-no"> {{examsList.collegeCode}} / {{pageParams.academicYear}} / {{pageParams.courseCode}}</span></p>
                        </div>
                    </div>
                    <div fxLayout="row wrap " fxFlex="100">
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="8" fxFlex.gt-md="8">
                            <p class="details-off">Exam  </p>
                        </div>:
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                            <p class="details-off"><span class="rol-no"> {{examsList.examName}} ({{examsList.fromDate | date:dateFormate}} - {{examsList.toDate | date:dateFormate}}) </span></p>
                        </div>
                    </div>
                    <div fxLayout="row wrap " fxFlex="100">
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="8" fxFlex.gt-md="8">
                            <p class="details-off">Exam Type </p>
                        </div>:
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="80">
                            <p class="details-off">
                                <span class="rol-no"> 
                                    <span *ngIf="examsList.isInternalExam != false">(Internal)</span>
                                <span *ngIf="examsList.isRegularExam != false">(Regular)</span>
                                <span *ngIf="examsList.isSupplyExam != false">(Supple)</span>
                            </span>
                        </p>
                        </div>
                    </div>
                        </div>
                <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd">
                    <div fxLayout="row" fxFlex="100">                       
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" *ngIf="staffForm.value.examId">
                            <input matInput [matDatepicker]="picker" name="examDate" [min]="minDate" [max]="maxDate" (dateChange)="calDays()" formControlName="examDate" placeholder="Choose a exam date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50"  *ngIf="staffForm.value.examId">
                            <mat-select placeholder="Exam Timetable" name="examTimetableId" formControlName="examTimetableId"  (selectionChange)="selectedTimetable(staffForm.value.examTimetableId)" required>
                                <mat-option *ngFor="let examTimetable of examTimetables" [value]="examTimetable.examTimetableId" >
                                    <span *ngIf="examTimetable.subjects.length > 0">{{examTimetable.examDate}} </span> / {{examTimetable.examSessionName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex="100"  *ngIf="staffForm.value.examTimetableId">
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-md="35">
                            <mat-select placeholder="Room" name="roomId" formControlName="roomId" #singleSelect (selectionChange)="selectedRoom(staffForm.value.roomId)" required>
                                <mat-select-trigger> {{roomDetails}}</mat-select-trigger>
                                <ngx-mat-select-search [formControl]="roomFilterCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'" (keyup)="enteredRoom($event, 'input')"></ngx-mat-select-search>
                                <mat-option *ngFor="let room of filteredRooms | async" [value]="room.roomId" style="height: auto;border-bottom: 0.5px solid;">

                                    <div style="width: 80%;top: 5px;line-height: 30px;">
                                        <span class="book-title">{{room.roomName}}</span>
                                        <span class="rol-no1" *ngIf="room.roomType != null">
                                                <small>( {{room.roomType}})</small>
                                                <small *ngIf="room.occupancy" style="color: darkorange;">( {{room.occupancy}})</small>
                                            </span><br>
                                        <span class="rol-no">
                                                        <small> {{room.campuName}}</small>
                                                        <small *ngIf= "room.buildingName != null"> / {{room.buildingName}}</small>
                                                        <small *ngIf= "room.blockName != null"> / {{room.blockName}}</small>
                                                        <small *ngIf= "room.floorName != null"> / {{room.floorName}}</small>
                                                        <small *ngIf= "room.occupancy != null">( / {{room.occupancy}})</small>
                                                     </span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                            <input matInput type="number" placeholder="Total Rows" name="totalRows" formControlName="totalRows" required>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                            <input matInput type="number" placeholder="Total Columns" name="totalColumns" formControlName="totalColumns" required>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                            <input matInput type="number" placeholder="Room Strength" name="roomStrength" formControlName="roomStrength">
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                            <input matInput type="number" placeholder="Priority" name="priority" formControlName="priority">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="column" class="radio-btn" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                    <mat-radio-group [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button [value]="1" >By Student</mat-radio-button>
                        <mat-radio-button [value]="2" class="r-btn" *ngIf="examRoomAllotment.length > 0">Bulk Allotment</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd yar-bordr" *ngIf="staffForm.value.totalRows > 0 && staffForm.value.totalColumns > 0 && check === 1">
                    <h2 style="margin: 8px 0px;color: blue;">Seating Order</h2>
                    <div fxLayout="row wrap " fxFlex="100">
                        <div fxLayout="column" class="p-8 bordr" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60">
                            <table class="mar">
                                <tbody>
                                    <tr *ngFor="let row of array; let i = index;">
                                        <td class="table-td" style="width: 13% !important;padding: 0px 0px !important;" customToolTip [contentTemplate]="template" style="text-align: center !important;position: relative;cursor: pointer;" *ngFor="let col of row.cols; let j = index;" [ngClass]="{'blocked': col.examSeatStatusCode === 'Blocked'}">
                                            <span style="position: absolute;right: 10px;">
                                               <!-- S {{j + 1}} -->
                                                {{ col.serial }}
                                                <!-- {{col.rowNo}}{{col.columnNo}} -->
                                            </span>
                                            <img *ngIf="col.examSeatStatusCode === 'Available'" style="height: 50px;" src="assets/images/avatars/chair_outline.png">
                                            <img *ngIf="col.examSeatStatusCode === 'Blocked'" style="height: 50px;" src="assets/images/avatars/chair_outline.png">
                                            <p *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null"><img  style="height: 50px;
                                                top: 0;
                                                left: 0;" src="assets/images/avatars/person.png"></p>
                                            <p *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null">{{col.hallticketNumber}}</p>
                                            <!-- <p *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null" style="font-size: 10px;">{{col.stdName}}</p> -->
                                            <p *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null" style="font-size: 10px;">{{col.subjectCode}}</p>        
                                            <img *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId == null" style="height: 50px;" src="assets/images/avatars/chair.png">
                                            
                                            <ng-template #template>
                                                    <div class="my-tooltip">
                                                       <h5>Student Details</h5>
                                                        <p >
                                                            <span style="color: black;font-weight: 700;">Name :</span> {{col.stdName}}
                                                        </p>
                                                    </div>
                                                </ng-template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div fxLayout="column" class="p-8 bordr" style="overflow: scroll;" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25">
                            <table class="mar">
                                <tbody>
                                    <tr>
                                        <td class="table-td">Total Seats</td>
                                        <td class="table-td">{{staffForm.value.totalRows*staffForm.value.totalColumns}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-td"> <span style="margin-right: 5px;background: #c5c5c5;"><img style="height: 25px;" src="assets/images/avatars/chair_outline.png"></span>Blocked Seats</td>
                                        <td class="table-td">{{staffForm.value.blockedSeats}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair.png"></span>Booked Seats</td>
                                        <td class="table-td">{{staffForm.value.bookedSeats}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair_outline.png"></span>Available Seats</td>
                                        <td class="table-td">{{staffForm.value.availableSeats}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd yar-bordr" *ngIf="staffForm.value.totalRows > 0 && staffForm.value.totalColumns > 0 && check === 2">
                    <div fxLayout="row" fxFlex="100"  >
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                            <mat-select placeholder="Course Group" name="courseGroupId" formControlName="courseGroupId" (selectionChange)="selectedCourseGroup(staffForm.value.courseGroupId)" >
                                <mat-option *ngFor="let obcjt of courseGroups" [value]="obcjt.courseGroupId">{{obcjt.groupCode}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                            <mat-select placeholder="Course Year" name="courseYearId" formControlName="courseYearId" (selectionChange)="selectedCourseYear(staffForm.value.courseYearId)" >
                                <mat-option *ngFor="let objt of courseYears; let i = index" [value]="objt.courseYearId">{{objt.courseYearName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd yar-bordr1">
                        <!-- <h3>Allot Students</h3> -->
                        <div fxLayout="row wrap " fxFlex="100">
                            

                            <div fxLayout="column" class="p-8 bordr firstTable" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-md="35" style="background: white;" *ngIf=" students.length>0">
                                <!-- <h4>Course Years Students</h4> -->
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxLayout="row" fxLayoutAlign="start center">
                                        <div class="search-box">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                    <!-- <span class="roll-no">
                                        Selected Subjects: <span style="color: silver;">{{selectedCount}}</span>
                                    </span> -->
                                </div>
                             
                                <table class="mar subjectslist ">
                                    <thead>
                                        <tr>
                                            <th class="table-th" style="width: 17% !important;">
                                                <mat-checkbox [(ngModel)]="checksubject" style=" padding: 5px;" [ngModelOptions]="{standalone: true}"></mat-checkbox>All</th>
                                            <th class="table-th" >Student List: <span class="rol-no" style="color: blue;">{{students.length}}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="students.length>0">
                                        <tr *ngFor="let  objct of students | studentRollnoFilter: searchText; let i=index">
                                            <td class="table-td" style="width: 15% !important;">
                                                <mat-checkbox  style="text-align: center;" [(ngModel)]="objct.checked" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                            </td>
                                            <td class="table-td" style="text-align: left; ">{{objct.firstName}}
                                                <span class="rol-no">({{objct.hallticketNumber}})</span>
                                            </td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
    
                            
                               <!-- --------Selected Students List Table Start------- -->
                            <div fxLayout="column" class="p-8 bordr firstTable" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-md="35" style="background: white;" *ngIf=" students.length>0">
                                <!-- <h4>Selected Students : </h4> -->
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxLayout="row" fxLayoutAlign="start center">
                                        <div class="search-box">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <input [(ngModel)]="searchText1" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <table class="mar subjectslist ">
                                    <thead>
                                        <tr>
                                            <th class="table-th" style="width: 35%;">Selected Students : <span class="rol-no" style="color: blue;">{{selectedStudents.length}}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="selectedStudents.length>0">
                                        <tr *ngFor="let  objct of selectedStudents | studentRollnoFilter: searchText1; let i=index">
                                            <!-- <td class="table-td" style="width: 15% !important;">{{i+1}}</td> -->
                                          <td class="table-td" style="text-align: left;">{{objct.firstName}}
                                              <span class="rol-no">({{objct.hallticketNumber}})</span>
                                          </td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 

                </div>
                <div class="form-btn">
                <button mat-raised-button class="add-btn back-btn" (click)="goBack()">Back</button>
                <button mat-raised-button class="add-btn" color="accent" (click)="print('printSeatingOrder')" >
                    Print
                </button>
                <button mat-raised-button class="add-btn" color="accent" (click)="printAttendanceSheet('printAttendanceSheet')" >
                   Print Attendance Sheet
                </button>
                <button mat-raised-button class="add-btn" color="accent" (click)="printStickers()">
                   Print Stickers
                </button>
                <button mat-raised-button class="add-btn" color="accent" (click)="printGroupStickers()">
                   Group-Wise Stickers
                </button>
                </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
<div *ngIf="view">
    <div fxLayout="column" style="margin-top: 10px !important"  *ngIf="staffForm.value.totalRows > 0 && staffForm.value.totalColumns > 0 && check === 1" id="printSeatingOrder">
        <h2 style="color: blue;">Seating Order : <span style="color: black;" *ngFor="let room of filteredRooms | async">({{room.roomName}})</span></h2>
        <h3 style="margin-top: -1% !important; color: blue;">Exam Name : <span style="color: black;">{{examsList.examName}} ({{examsList.fromDate | date:dateFormate}} - {{examsList.toDate | date:dateFormate}})</span></h3> 
        <h3 style="margin-top: -1% !important; " *ngFor="let examTimetable of examTimetables"><span>Date :{{examTimetable.examDate}} &nbsp;|&nbsp; Session : {{examTimetable.examSessionName}}&nbsp;({{tConvert(sessionStartTime)}}-{{tConvert(sessionEndTime)}})</span></h3>
    
    <div fxLayout="row wrap ">
    <div fxLayout="column" class="bordr" fxFlex="100" fxFlex.gt- xs="100" fxFlex.gt-md="100">
    <table id="printTable">
  <tr *ngFor="let row of array; let i = index;">
    <td class="table-td" *ngFor="let col of row.cols; let j = index;" 
        [ngClass]="{'blocked': col.examSeatStatusCode === 'Blocked'}">
        
      <p class="rolnumber" style="font-size: 12px !important;" 
         *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null">
         {{ col.hallticketNumber }} - {{ col.serial }}
      </p>
      <p style="font-size: 11px !important;" 
         *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null">
         <!-- {{ col.stdName }} -->
      </p>
      <p style="font-size: 10px;" 
         *ngIf="col.examSeatStatusCode === 'Booked' && col.studentId != null">
         {{ col.subjectCode }}
      </p>

    </td>
  </tr>
    </table>
    </div>
    </div>
    
    
 <div fxLayout="row wrap " >
            <div fxLayout="column" class="bordr"  fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
                <table>
                   
                        <tr>
                            <td class="table-td">Total Seats</td>
                            <td class="table-td">{{staffForm.value.totalRows*staffForm.value.totalColumns}}</td>
                        </tr>
                        <tr>
                            <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair.png"></span>Booked Seats</td>
                            <td class="table-td">{{staffForm.value.bookedSeats}}</td>
                        </tr>
                        <tr>
                            <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair_outline.png"></span>Available Seats</td>
                            <td class="table-td">{{staffForm.value.availableSeats}}</td>
                        </tr>
                        <tr>
                            <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair.png"></span>Present</td>
                            <td class="table-td">  </td>
                        </tr>
                        <tr>
                            <td class="table-td"><span style="margin-right: 5px;"><img style="height: 25px;" src="assets/images/avatars/chair.png"></span>Absent</td>
                            <td class="table-td">  </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div> 

    <div class="layout" *ngIf="summaryview" >
        <div fxLayout="row" >
           <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
        <h2 style="color: blue;">Summary : <span style="color: black;">({{examStdRoomAllotment[0]?.roomName}})</span></h2>
        <h3 style="margin-top: -1% !important; color: blue;">Exam Name : <span style="color: black;">{{examsList.examName}} ({{examsList.fromDate | date:dateFormate}} - {{examsList.toDate | date:dateFormate}})</span></h3>
        <h3 style="margin-top: -1% !important; " *ngFor="let examTimetable of examTimetables"><span>Date :{{examTimetable.examDate}} &nbsp;|&nbsp; Session : {{examTimetable.examSessionName}}&nbsp;({{tConvert(sessionStartTime)}} - {{tConvert(sessionEndTime)}})</span></h3>    
    <div fxLayout="row wrap ">
    <div fxLayout="column" fxFlex="100" fxFlex.gt- xs="100" fxFlex.gt-md="100">
    <table id="table2">
        <tr >
            <td  *ngFor="let data of examStdRoomAllotment index as i"  >
                {{data?.hallticketNumber}} -  S{{i + 1}}
            </td>
        </tr>
    </table>
    </div>
    </div>
    </div>
        </div>
</div>
<div class="layout hall-ticket-wrapper" *ngIf="printAttendance"  style="width:99% !important"> 
  <div *ngFor="let group of groupedData; let i = index" class="page-align print-page">
    
    <!-- Header -->
    <div *ngIf="group.students[0]?.university_code === 'MECS'">
      <img src="assets/images/avatars/MECS_BANNER.png" class="college-banner" />
    </div>

    <div *ngIf="group.students[0]?.university_code === 'MVSR'">
      <img src="assets/images/avatars/MVSR_BANNER.png" class="college-banner-2" />
    </div>

    <h4 class="header"><b> ATTENDANCE SHEET </b></h4>

    <div>
      <h4 style="text-align:center !important"> 
        {{group.students[0]?.exam_name}} ({{group.students[0]?.exam_type_name}})
      </h4>
    </div>

    <!-- Exam Info -->
    <div class="exam-header">
      <div class="row">
        <div class="left"><b>Branch :</b> {{group.students[0]?.group_code}}</div>
        <div class="center"><b>Date :</b> {{group.students[0]?.exam_date | date : 'dd/MM/yyyy'}}</div>
        <div class="right"><b>Room :</b> {{group.students[0]?.room_name}}</div>
      </div>

      <div class="row">
        <div class="left" style="flex: 2;"><b>Subject:</b> {{group.students[0]?.subject_name}}</div>
        <div class="right"><b>Session:</b> {{group.students[0]?.sessin_time}}</div>
      </div>
    </div>

    <!-- Attendance Table -->
    <table class="subject-table-refined">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>H.T. NO.</th>
          <th>Student Name</th>
          <th>Serial No.</th>
          <th>Signature of the Student</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of group?.students; let i = index">
          <td>{{i + 1}}</td>
          <td>{{data?.hallticket_number}}</td>
          <td>{{data?.student_name}}</td>
          <td>{{data?.omr_serial_no}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- Summary Table -->
    <table class="subject-table-refined">
      <thead>
        <tr>
          <th>Total No.of Students Registered</th>
          <th>Total No.of Students Absent</th>
          <th>Total No.of Students Present</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{group?.students?.length}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- Signatures -->
    <div class="signatures">
      <div>Signature of the Invigilator - I</div>
      <div>Signature of the Invigilator - II</div>
      <div>Controller of Examinations</div>
    </div>

  </div>
</div>