.hover {
    cursor: pointer;
}

.inputs {
    font-size: 15px;
    display: flex !important;
    margin: 2px;
    height: 40px;
    align-items: center;
}

.mp-14 {
    margin-top: 11px;
}

.mb-14 {
    margin-bottom: 14px;
}

.btn {
    display: flex;
    justify-content: end;
}

.as-btn {
    margin-top: 5.5% !important;
}