p{
    margin: 4px 5px !important;
}
p.details-off {
    font-weight: 500;
}
.colr{
    color: #0d29ff;
}
.break{
    background: #dedede;
}
.table-th{
    padding: 5px 5px !important;
    background: #C3D9FF;
    font-weight: 500;
    color: #000 !important;
}
.mat-dialog-actions {
    margin: 0px 13px 5px 0 !important;
}
table{
    border-spacing: 1px !important;
}