p{
    margin: 4px 5px !important;
}
p.details-off {
    font-weight: 500;
}
.colr{
    color: #0d29ff;
}
.inputs{
    font-size: 15px;
    display: flex !important;
    margin: 2px;
    height: 35px;
    align-items: center;
}