<div id="dashboard" class="page-layout simple">
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Examination Management</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Papers Delivery Process</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Group</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>{{dialogTitle}}</span>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="content">
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                                fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="fs  icon-align ">book</mat-icon>
                                    <strong class="table-heads"> {{dialogTitle}} &nbsp;-
                                        &nbsp;{{data?.examGroupCode}}</strong>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form name="addevaluatorform" [formGroup]="addevaluatorform" novalidate>
                        <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd">
                            <div fxLayout="row wrap " fxFlex="100">
                                <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15"
                                    fxFlex.gt-md="15">
                                    <mat-select placeholder="Academic Year" name="academicYearId"
                                        formControlName="academicYearId"
                                        (selectionChange)="selectedAcademicYear(addevaluatorform.value.academicYearId)" [disabled]="true"
                                        required>
                                        <mat-option *ngFor="let obcjt of academicYears"
                                            matTooltip="{{obcjt.academic_year}}"
                                            [value]="obcjt.fk_academic_year_id">{{obcjt.academic_year}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                                    <input matInput [matDatepicker]="dp" placeholder="Exam Month and Year" [value]="date" [disabled]="true">
                                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                    <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
                                    </mat-datepicker>
                                </mat-form-field>
                                <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50"
                                    fxFlex.gt-md="50">
                                    <mat-select placeholder="Exam " name="examId" formControlName="examId" multiple required>
                                        <ngx-mat-select-search [placeholderLabel]="'Search...'"
                                            [noEntriesFoundLabel]="'no matching data found'"
                                            (keyup)="searchexam($event.target.value)"></ngx-mat-select-search>
                                        <mat-option *ngFor="let exam of examData" [value]="exam.fk_exam_id"
                                            matTooltip="{{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})">
                                            {{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date |
                                            date:dateFormate}})
                                            <span *ngIf="exam.is_internal_exam" style="color: #0014ff;font-weight: 500;"
                                                matTooltip='Internal'>(Internal)</span>
                                            <span *ngIf="exam.is_regular_exam" style="color: #0014ff;font-weight: 500;"
                                                matTooltip="Regular">(Regular)</span>
                                            <span *ngIf="exam.is_supply_exam" style="color: #0014ff;font-weight: 500;"
                                                matTooltip="Supple">(Supple)</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                                    <button mat-raised-button class="add-btn" color="accent"
                                        (click)="addToTable()">Add</button>
                                </div>
                                <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                                    <button mat-raised-button class="back-btn add-btn" (click)="goBack()">Back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="header  pd-page " fxLayout="column" fxLayoutAlign="space-between"
                style="width: 100%;padding: 22px 24px 0px 24px;" *ngIf="selectedData.length > 0">
                <div fxLayout="row wrap " class="page-table-head" fxFlex="100" fxLayoutAlign="space-between center">
                    <div fxLayoutAlign="start center" class="mod-head">
                        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons icon-align ">
                                ballot
                            </i>
                            <strong class="table-heads"> {{dialogTitle}} &nbsp;- &nbsp;{{data?.examGroupCode}} </strong>
                        </div>
                    </div>
                    <div fxLayoutAlign="start end" class="mod-head">
                        <span style="color: blue;
                        font-weight: 500;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="content pd-card" *ngIf="selectedData.length > 0">
                <div class="mat-elevation-z8">
                    <div class="example-container">
                        <table mat-table class="mt-1" [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="exam">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam</th>
                                <td mat-cell *matCellDef="let row"> {{row?.examName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                                <td mat-cell *matCellDef="let row;">
                                    <i class="fa fa-times edit" (click)="deleteRow(row.examId)"></i>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="90" fxFlex.gt-md="90"></div>
                    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                        <button mat-raised-button class="add-btn" color="accent" (click)="submit()">Save</button>
                    </div>
            </div>
        </div>
    </div>
</div>