<div id="dashboard" class="page-layout simple">
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Admin</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Academic Settings</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Lab Batches</span>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 24px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                                fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <i class="fa fa-puzzle-piece icon-align" aria-hidden="true"></i>
                                    <strong class="table-heads">Exam Lab Batches</strong>
                                </div>
                            </div>
                        </mat-panel-title>
                        <label class="filter-align">Filter</label>
                        <mat-icon>filter_list</mat-icon>
                    </mat-expansion-panel-header>
                    <form name="sectionsForm" [formGroup]="sectionsForm" novalidate>

                        <div fxLayout="row">
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                                fxFlex.gt-md="20">
                                <mat-select placeholder="Course" name="courseId" formControlName="courseId"
                                    (selectionChange)="selectedCourse(sectionsForm.value.courseId)" required>
                                    <mat-option *ngFor="let course of courses"
                                        [value]="course.fk_course_id">{{course.course_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                                fxFlex.gt-md="20">
                                <mat-select placeholder="Exam Year" name="academicYearId"
                                    formControlName="academicYearId"
                                    (selectionChange)="selectedAcademicYear(sectionsForm.value.academicYearId)"
                                    required>
                                    <mat-option *ngFor="let academicYear of academicYears"
                                        [value]="academicYear.fk_academic_year_id">{{academicYear.academic_year}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="60"
                                fxFlex.gt-md="60">
                                <mat-select placeholder="Exam Master" name="examId" formControlName="examId"
                                    (selectionChange)="selectedExam(sectionsForm.value.examId)" required>
                                    <ngx-mat-select-search [formControl]="ExamMasterFilterCtrl"
                                        [placeholderLabel]="'Search...'"
                                        [noEntriesFoundLabel]="'no matching data found'"
                                        (keyup)="searchexam($event.target.value)"></ngx-mat-select-search>
                                    <mat-option *ngFor="let exam of examData" [value]="exam.fk_exam_id"
                                        matTooltip="{{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date | date:dateFormate}})">

                                        {{exam.exam_name}} ({{exam.from_date | date:dateFormate}} - {{exam.to_date |
                                        date:dateFormate}})
                                        <span *ngIf="exam.is_internal_exam" style="color: #0014ff;font-weight: 500;"
                                            matTooltip='Internal'>(Internal)</span>
                                        <span *ngIf="exam.is_regular_exam" style="color: #0014ff;font-weight: 500;"
                                            matTooltip="Regular">(Regular)</span>
                                        <span *ngIf="exam.is_supply_exam" style="color: #0014ff;font-weight: 500;"
                                            matTooltip="Supple">(Supple)</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                        </div>
                        <div class="row-wrap">
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                                fxFlex.gt-md="20">
                                <mat-select placeholder="College" name="collegeId" formControlName="collegeId"
                                    (selectionChange)="selectedCollege(sectionsForm.value.collegeId)" required>
                                    <mat-option *ngFor="let college of colleges"
                                        [value]="college.fk_college_id">{{college.college_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                                fxFlex.gt-md="20">
                                <mat-select placeholder="Course Group " name="courseGroupId"
                                    formControlName="courseGroupId"
                                    (selectionChange)="selectedGroup(sectionsForm.value.courseGroupId)" required>
                                    <mat-option *ngFor="let courseGroup of courseGroups"
                                        [value]="courseGroup.fk_course_group_id">{{courseGroup.group_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                                fxFlex.gt-md="20">
                                <mat-select placeholder="Course Years" name="courseYearId"
                                    formControlName="courseYearId"
                                    (selectionChange)="selectedYear(sectionsForm.value.courseYearId)" required>
                                    <mat-option *ngFor="let courseYear of courseYears"
                                        [value]="courseYear.fk_course_year_id">{{courseYear.course_year_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20"
                            fxFlex.gt-md="20">
                            <mat-select placeholder="Regulation" name="regulationId"
                                formControlName="regulationId"
                                (selectionChange)="selectedRegulation(sectionsForm.value.regulatonId)" required>
                                <mat-option *ngFor="let obj of regulationList"
                                    [value]="obj.fk_regulation_id">{{obj.regulation_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="30"
                                fxFlex.gt-md="30">
                                <mat-select placeholder="Subject" name="subjectId" formControlName="subjectId" required
                                    (selectionChange)="selectedSubject()">
                                    <ngx-mat-select-search (keyup)="searchSubject($event.target.value)"
                                        [placeholderLabel]="'Search Subject...'"
                                        [noEntriesFoundLabel]="'no matching data found'">
                                    </ngx-mat-select-search>
                                    <mat-option *ngFor="let subject of subjectData" [value]="subject.fk_subject_id"
                                        matTooltip="{{subject.subject_name}} ({{subject.subject_code}})">{{subject.subject_name}}
                                        ({{subject.subject_code}})

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                                <button mat-raised-button class="add-btn" color="accent" (click)="getDetails()">Get
                                    List</button>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState= true" (closed)="panelOpenState= false">
                </mat-expansion-panel>
            </mat-accordion>
            <mat-card class="pd-card table-align" *ngIf="this.flag">
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between"
                        fxLayoutGap="5">
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35"
                            fxLayout="row" fxLayoutAlign="start center">
                            <label for="search" class="mr-8">
                                <mat-icon class="secondary-text">search</mat-icon>
                            </label>
                            <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                                <input matInput name="search" (keyup)="applyFilter($event.target.value)"
                                    placeholder="Search">
                            </mat-form-field>
                        </div>
                        <button class="btn-add" name="addStdBatch" fxFlex="20%" mat-raised-button color="accent"
                            (click)="openDialog()">
                            <i class="material-icons">add</i>
                            Add Exam Batch</button>
                    </div>
                </mat-card-content>


                <div class="mat-elevation-z8">
                    <div class="example-container ">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                <td mat-cell *matCellDef="let row; let i = index"> {{examLabBatches.indexOf(row) + 1}}
                                </td>
                            </ng-container>

                            <!-- College Name Column -->
                            <ng-container matColumnDef="collegeName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>College Name</th>
                                <td mat-cell *matCellDef="let row"> {{row.collegeName}} </td>
                            </ng-container>

                            <!-- Course  Column -->
                            <ng-container matColumnDef="courseName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
                                <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
                            </ng-container>

                            <!-- Subject Type Column -->
                            <ng-container matColumnDef="subjecttypeName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Type</th>
                                <td mat-cell *matCellDef="let row"> {{row.subjecttypeName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="examtypeCatdetCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam Type</th>
                                <td mat-cell *matCellDef="let row"> {{row.examtypeCatdetCode}} </td>
                            </ng-container>

                            <!-- Batch Column -->
                            <ng-container matColumnDef="batchName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lab Batch</th>
                                <td mat-cell *matCellDef="let row"> {{row.batchName}} </td>
                            </ng-container>

                            <!-- Capacity Column -->
                            <ng-container matColumnDef="capacity">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</th>
                                <td mat-cell *matCellDef="let row"> {{row.capacity}} </td>
                            </ng-container>

                            <!-- Sort Order Column -->
                            <ng-container matColumnDef="sortOrder">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort Order</th>
                                <td mat-cell *matCellDef="let row"> {{row.sortOrder}} </td>
                            </ng-container>

                            <!-- Isactive Column -->
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row.isActive==true" class="active">Active</span>
                                    <span *ngIf="row.isActive==false" class="in-active">InActive</span>
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let row" class="text-ctr"> <i class="material-icons edit"
                                        (click)="editDialog(row)" matTooltip="Edit"> border_color</i> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-card>
        </div>

        <!-- / CONTENT -->
    </div>
</div>