<div class="content">
    <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
        <div class="mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <div fxLayoutAlign="start center" class="mod-head">
                <mat-icon>domain</mat-icon>
                <span>{{dialogTitle}}</span>
            </div>
        </div>
    </div>
    <form name="buildingForm" [formGroup]="buildingForm" novalidate>
        <mat-dialog-content>
            <div fxLayout="column">
                <div fxLayout="row wrap " fxFlex="100">

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="50">
                        <mat-select placeholder="Exam Center" name="univExamCenterId" formControlName="univExamCenterId" required>
                            <mat-option *ngFor="let campus of campuses" [value]="campus.univExamcenterId">{{campus.examcenterCode}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap " fxFlex="100">
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                        <input matInput placeholder="Building Name" name="buildingName" formControlName="buildingName" required>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="24" fxFlex.gt-md="24">
                        <input matInput placeholder="Building Code" name="buildingCode" formControlName="buildingCode" required>
                    </mat-form-field>

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25">
                        <input matInput placeholder="Landmark" name="landmark" formControlName="landmark">
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25">
                        <input matInput placeholder="No Of Floors" type="number" name="noOfFloors" formControlName="noOfFloors">
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap " fxFlex="100">
                    <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <mat-checkbox name="isActive" formControlName="isActive" (click)="changedStatus(buildingForm.value.isActive)">Active</mat-checkbox>
                    </section>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" *ngIf="buildingForm.controls.isActive.value === false">
                        <input matInput placeholder="Reason" name="reason" formControlName="reason">
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>

            <button mat-raised-button class="cls-btn" mat-dialog-close>
                    Close
                </button>
            <button mat-raised-button class="add-btn" color="accent" (click)="submit()">
            Save
        </button>
        </mat-dialog-actions>
    </form>
</div>