<div id="admission-dashboard" class="page-layout simple">

  <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Examination</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Pre-Examination</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Exam University Timetable</span>
          </div>
      </div>
  </div>

  <!-- CONTENT -->
  <div class="content pd-card mt-15">
      <div class="mat-elevation-z8 bkgrd">
          <form name="staffForm" [formGroup]="staffForm" style="padding-bottom: 1px;" class="form-pad" novalidate>
              <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                  <i class="material-icons sub-header-icon">computer</i>
                  <span class="sub-header-text"> Create University Timetable</span>
                 
              </div>
              <!-- <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd div-border">
                <div fxLayout="row wrap " fxFlex="100">
                    <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-md="30">
                        <div fxLayout="row wrap " fxFlex="100">
                            <div fxLayout="column"  fxFlex="100" fxFlex.gt-xs="17" fxFlex.gt-md="17">
                                <p class="details-off">Course : </p>
                            </div>
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="73" fxFlex.gt-md="73">
                                <p class="details-off"> <span class="rol-no"> {{examDetails.collegeCode}} /  {{examDetails.courseCode}} /  {{pageParams.courseYearName}} </span></p>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="43" fxFlex.gt-md="43">
                        <div fxLayout="row wrap " fxFlex="100">
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="13" fxFlex.gt-md="13">
                                <p class="details-off">Exam :</p>
                            </div>
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="87" fxFlex.gt-md="87">
                                <p class="details-off"> <span class="rol-no"> {{examDetails.examName}} ({{examDetails.fromDate | date:dateFormate}} - {{examDetails.toDate | date:dateFormate}}) </span></p>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25">
                        <div fxLayout="row wrap " fxFlex="100">
                            <div fxLayout="column"  fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-md="30">
                                <p class="details-off">Exam Type :</p>
                            </div> 
                            <div fxLayout="column"  fxFlex="100" fxFlex.gt-xs="70" fxFlex.gt-md="70">
                                <p class="details-off">  
                                    <span class="rol-no"> 
                                        <span *ngIf="examDetails.isInternalExam != false">(Internal)</span>
                                    <span *ngIf="examDetails.isRegularExam != false">(Regular)</span>
                                    <span *ngIf="examDetails.isSupplyExam != false">(Supple)</span>
                                </span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div> -->

                

                    <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd">
                   <div fxLayout="row" fxFlex="100">
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                        <input matInput [matDatepicker]="fDay" name="fDate" formControlName="fDate"[min]="minDate" [max]="maxDate" placeholder="Exam Date" name="examDate" formControlName="examDate">
                        <mat-datepicker-toggle matSuffix [for]="fDay"></mat-datepicker-toggle>
                        <mat-datepicker #fDay></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25">
                        <mat-select placeholder="Exam Session" name="examSessionId" formControlName="examSessionId" (selectionChange)="selectedSession(staffForm.value.examSessionId)" required>
                            <mat-option *ngFor="let examSession of examSessions" [value]="examSession.examSessionId">{{examSession.examSessionName}} 
                                <!-- <span *ngIf="examSession.sessionStartTime != null">({{tConvert(examSession.sessionStartTime)}} - {{tConvert(examSession.sessionEndTime)}})</span> -->
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="12" fxFlex.gt-md="12">
                            <mat-select placeholder="Regulation" name="regulationId" formControlName="regulationId" (selectionChange)="selectedRegulation(staffForm.value.regulationId)" required>
                                <mat-option *ngFor="let reg of regulations" [value]="reg.regulationId">{{reg.regulationName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="58" fxFlex.gt-md="58">
                            <mat-select placeholder="Subject" name="subjectId" formControlName="subjectId" (selectionChange)="selectedSubject(staffForm.value.subjectId)" required>
                                <mat-option *ngFor="let subReg of subjects" [value]="subReg.subjectId">{{subReg.subjectName}} ({{subReg.subjectCode}})
                                    <span style="color: #bdbdbd;"> - {{subReg.subjecttypeName}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60">
                            <mat-select placeholder="Subject" name="subjectId" formControlName="subjectId" #singleSelect (selectionChange)="selectedSubject(staffForm.value.subjectId)">
                                <ngx-mat-select-search [formControl]="subjectsFilterCtrl" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'no matching data found'"></ngx-mat-select-search>
                                <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.subjectId" style="line-height: 1.5em;height: unset;border-bottom: 1px solid #9e9e9e52;">
                                  
                                    <div >
                                        <span class="book-title">{{subject.subjectCode}}</span><br>
                                        <span class="rol-no" *ngIf="subject.subjectName != null">
                                        <small> {{subject.subjectName}} </small>
                                    </span>
                                    </div>
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                        <!-- <mat-form-field>
                            <mat-select [formControl]="bankCtrl" placeholder="Subject" #singleSelect>
                              <mat-option>
                                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                              </mat-option>
                        
                              <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                                {{bank.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                   </div>
              </div>
              <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd yar-bordr" *ngIf="courseGroupYears.length > 0 || examTimetable.length > 0">
                  
                  <div fxLayout="row wrap " fxFlex="100">
                      <div fxLayout="column" class=" bordr" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25" *ngIf="courseGroupYears.length > 0">
                          <!-- <h3 style="margin: 8px 0px;color: blue;">Select Groups</h3> -->
                          <table class="mar">
                            <thead>
                                <tr>
                                    <th class="table-th"></th>
                                    <th class="table-th">Select Course Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let  courseGroupYear of courseGroupYears; let i=index">
                                    <td class="table-td" style="text-align: center !important;"> 
                                        <mat-checkbox name="checked-{{i}}" [(ngModel)]="courseGroupYear.checked" (click)="checkedCourses(!courseGroupYear.checked,courseGroupYear)" [ngModelOptions]="{standalone: true}">
                                           </mat-checkbox>
                                    </td>
                                    <td class="table-td">{{courseGroupYear.groupName}} <span style="color: blue;">({{courseGroupYear.reg}})</span>
                                     <span style="color: blue;" *ngIf="courseGroupYear.batch">({{courseGroupYear.batch}})</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                      <div fxLayout="column" class=" bordr" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" *ngIf="courseGroupYears.length > 0">
                            <!-- <h3 style="margin: 8px 0px;color: blue;">Selected Groups</h3> -->
                            <table class="mar">
                              <thead>
                                  <tr>
                                      <th class="table-th">Selected Course Groups</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let  courseGroupYear of selectedCourseYears; let i=index">
                                      <td class="table-td">{{courseGroupYear.groupName}} <span style="color: blue;">({{courseGroupYear?.reg}})</span>
                                        <span style="color: blue;" *ngIf="courseGroupYear.batch">({{courseGroupYear?.batch}})</span></td>
                                  </tr>
                              </tbody>
                          </table>
                          <div fxLayout="row" *ngIf="selectedCourseYears.length > 0">
                            
                            <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-md="40">
                                <button mat-raised-button class="add-btn" color="accent"
                                    (click)="addExamCourseGroups()">Add</button>
                            </div>
                            <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60"></div>
                          </div>
                        </div>
                        <div fxLayout="column" class=" bordr" fxFlex="100" fxFlex.gt-xs="55" fxFlex.gt-md="55" >
                            <div *ngFor="let  ext of examTimetable; let i=index">
                                <p style="text-align: center;color: blue;background: #c3d9ff;
                                margin: 0 !important;
                                padding: 6px 0px;">{{ext.session}}
                                    <span *ngIf="ext.sessionStartTime != null">({{tConvert(ext.sessionStartTime)}} - {{tConvert(ext.sessionEndTime)}})</span></p>
                                <table class="mar">
                                <thead>
                                    <tr>
                                        <th class="table-th">SI.No</th>
                                        <th class="table-th">Exam Date</th>
                                        <th class="table-th">Group</th>
                                        <th class="table-th">Subject</th>
                                        <th class="table-th">Exam Type</th>
                                        <th class="table-th">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let  extGrp of ext.examTimetableDetail; let j=index">
                                        <td class="table-td">{{j+1}}</td>
                                        <td class="table-td">{{extGrp.examDate | date:'dd MMM, y'}}</td>
                                        <td class="table-td">{{extGrp.groupName}}</td>
                                        <td class="table-td">{{extGrp.subjectName}}
                                            <span style="color: #bdbdbd;"> ({{extGrp.subjecttypeName}})</span>
                                            <span style="color: #bdbdbd;" *ngIf="extGrp.batch">({{extGrp.batch}})</span>
                                        </td>
                                        <td class="table-td">{{extGrp.reg}}</td>
                                        <td class="table-td" > <i class="fa fa-times edit" (click)="deleteExtGrp(ext,extGrp,j)"></i> </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  
               <div fxLayout="row wrap " fxFlex="100">
                <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="90" fxFlex.gt-md="90" >
                </div>
                <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10" >
                    <div class="form-btn">
                        <button mat-raised-button class="add-btnt" color="accent" (click)="addExamTable()">
                        Save
                    </button>
                    </div>
                </div>
              </div>
              </div>
              <div  >
            
            </div>
             
          </form>

          <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;" *ngIf="dataList.length>0">
            <mat-expansion-panel class="overflow" [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="fs  icon-align ">book</mat-icon>
                                <strong class="table-heads">View Exam Timetable</strong>
                                <strong class="table-heads" style="margin-left: 12px;font-size: 14px !important;
                                color: #000;"> {{dataList[0]?.course_code}} / {{pageParams.courseYearName}} - (
                                    {{dataList[0]?.exam_name}} ({{dataList[0]?.fromDate | date:dateFormate}} - {{dataList[0]?.toDate | date:dateFormate}})
                                                <span *ngIf="dataList[0].is_internal_exam"
                                                    style="color: #0014ff;font-weight: 500;">[Internal]</span>
                                                <span *ngIf="dataList[0].is_regular_exam"
                                                    style="color: #0014ff;font-weight: 500;">[Regular]</span>
                                                <span *ngIf="dataList[0].is_supply_exam"
                                                    style="color: #0014ff;font-weight: 500;">[Supple]</span>) </strong>
                            </div>
                        </div>
                    </mat-panel-title>
                    <label class="filter-align">Filter</label>
                    <mat-icon>filter_list</mat-icon>
                </mat-expansion-panel-header>
                    <div fxLayout="row">
                        <table class="mar">
                            <thead>
                                <tr>
                                    <th class="table-th" style="width: 8% !important;text-align: center;text-transform: uppercase;">Branch</th>
                                    <th class="table-th" *ngFor="let dt of dateArray; let i=index" style="text-align: center;">
                                        {{dt | date:'dd MMM, y'}}
                                        <p style="margin: 0;
                                        color: blue;">({{dt.day}})</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gr of courseGroups; let i=index">
                                    <td class="table-td" style="width: 8% !important;text-align: center;text-transform: uppercase;">
                                        <!-- {{gr.groupName}} -->
                                        <p style="margin: 0;
                                        color: blue;">{{gr.group_code}}</p>
                                    </td>
                                    <td class="table-td" *ngFor="let grDt of gr.dates;" style="text-align: center;">
                                        <p *ngFor="let sub of grDt.subjectDetails;" style="position: relative;text-align: left;" class="box-ext" [ngClass]="{'afternoon-session': sub.examsessioninCatCode === 'AFTERNOON'}">
                                            <span style="margin-right: 30px;">
                                                <!-- {{sub.shortName}} -->
                                                {{sub.subjectCode}} <span *ngIf="sub.examLabBatchName">({{sub.examLabBatchName}})</span></span>
                                            <span *ngIf="sub.examTypeCatCode == 'Regular'" class="exam-type">R</span>
                                            <span *ngIf="sub.examTypeCatCode == 'Supple'" class="exam-type">S</span>
                                            <span *ngIf="sub.examTypeCatCode == 'Internal'" class="exam-type">I</span>
                                        </p>
                                        <!-- <span *ngIf="grDt.subjectDetails.length === 0"> --- </span> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            </mat-expansion-panel>
        </mat-accordion>

        <div class="form-btn">
            <button mat-raised-button class="add-btn back-btn" (click)="goBack()">Back</button>
        </div>
      </div>

  </div>
  <!-- / CONTENT -->

</div>