table#PivotView_grid_content_table {
    width: 100% !important;
}

table.e-table {
    width: 100% !important;
}

.pd-page {
    padding: 0px 24px 0px 24px !important;
}

.mar {
    margin: 0px 0;
}

.table-td {
    padding: 8px 8px !important;
    text-align: left;
    font-weight: 500;
}

.mp-5 {
    margin-top: 5px;
}

p {
    margin: 5px 0px;
    // color: #c76d2f;
}

.table-th {
    padding: 5px 5px !important;
    background: #C3D9FF;
    font-weight: 500;
}

.back-grnd {
    border: 1px solid #fff;
    margin: 1px;
    background: #eaf2ff;
}

.txt-uppercase {
    text-transform: uppercase;
}

table {
    border-spacing: 1px !important;
}