table#PivotView_grid_content_table {
    width: 100% !important;
}
table.e-table {
    width: 100% !important;
}
.mar {
    margin: 0px 0;
}
small {
    font-size: 100%;
}
.table-td {
    padding: 8px 8px !important;
    text-align: left;
    font-weight: 500;
}
.table-th {
    padding: 5px 5px !important;
    background: #C3D9FF;
    font-weight: 500;
}
table {
    border-spacing: 1px !important;
}
#table1{
    border-spacing: 0px !important;

}
.btn-add{
    width: 100%
}
.box-ext{
    border: 1px solid #c5c5c5;
    padding: 2px;
    margin: 2px;
    border-radius: 3px;
    background: #92dcffee;
    cursor: pointer;
}
.afternoon-session{
    background: #ffee23c2 !important;
}
.exam-type{
    position: absolute;
    right: 3px;
    background: #ff5968;
    padding: 0 4px;
    bottom: 2px;
    border-radius: 3px;
}

.imgdiv{
    vertical-align: middle !important;
    justify-content: center !important;
        }
        .img-logo{
            // margin: 31px 190px !important;
            // margin: 20px 20px !important;
            height:100px;
            width:100px;
            }
    
        @media print {
            #printNone {
                display: none !important;
                visibility: hidden !important;
              }
              .mar-20{
                   margin: 0px 20px !important;
              }
              .print-section{
            display: block;
              }
             
              #table-print {
                  border-collapse: collapse;
                  width: 100%;
                }
              
                // table, th, td {
                //   padding: 8px;
                // }
              
            //     th {
            //       background-color: #f2f2f2;
            //     }
            //   table {
            //       page-break-inside: auto;
            //     }
            //     tr {
            //       page-break-inside: avoid;
            //       page-break-after: auto;
            //     }
            //     thead {
            //       display: table-header-group;
            //     }
            //     tfoot {
            //       display: table-footer-group;
            //     }
            header nav, footer {
              display: none;
           }
           .collegeName{
            text-align: center !important;
            font-size: 20px !important;
             margin-top: 20px !important; 
             margin-bottom: -10px !important; 
             margin-top: -5px !important; 
             font-family: none !important;
              color: rgb(0, 0, 0) !important
        }
        .title{
            text-align: center !important;
            font-size: 18px !important;
            font-family: none !important;
            color: rgb(0, 0, 0) !important
        }
       
    #table2{
        width: auto !important;
        border: 1px solid  #000 !important;
        border-spacing: 0px !important;
       td{
            font-family: arial, sans-serif;
            font-size: 12px !important;
            text-align: left !important;
    font-weight: 600 !important;
    border:1px solid   #000 !important;
    padding: 3px !important;
    text-align: center !important;
    vertical-align: middle !important;
        }  
        th{
            font-family: arial, sans-serif;
            font-size: 12px !important;
            text-align: left !important;
    font-weight: 600 !important;
    border: 1px solid  #000 !important;
    padding: 3px !important;  
    text-align: center !important;
    vertical-align: middle !important;
        } 
    }
    #table3{
        width: auto !important;
        // border:1px  #000 !important;

        border-spacing: 0px !important;
        td{
            font-family: arial, sans-serif;
            font-size: 12px !important;
            text-align: left !important;
    font-weight: 600 !important;
    border:1px solid #000 !important;
    padding: 3px !important;
    text-align: center !important;
    vertical-align: middle !important;

        }   
        th{
            font-family: arial, sans-serif;
            font-size: 12px !important;
            text-align: left !important;
    font-weight: 600 !important;
    border: 1px solid  #000 !important;
    padding: 3px !important;
    text-align: center !important;
    vertical-align: middle !important;

        }  
    }
    #Ptable1{
    border: 1px solid  #494545 !important;

        border-collapse: collapse;
        width: 100% !important;
        td{
            font-size: 14px !important;
            text-align: center !important;
            vertical-align: middle !important;
    border: 1px solid  #494545 !important;

        }
        th{
            font-size: 14px !important;
            vertical-align: middle !important;
            text-align: center !important;
            font-weight: 500 !important;
            border: 1px solid  #494545 !important;


        }
    }
    #Ptable2{
        border-collapse: collapse;
        width: 100% !important;
        border-bottom: none !important;
        border-top: none !important;

        td{
            font-size: 14px !important;
            text-align: center !important;
            vertical-align: middle !important;
            border: 1px solid  #494545 !important;



        }
        th{
            font-size: 14px !important;
            text-align: center !important;
            vertical-align: middle !important;
            font-weight: 500 !important;
            border: 1px solid  #494545 !important;

        }
    }
    p{
        text-align: center !important;
    }


    .outer-table {
        border-collapse: collapse !important;
      }
      
      /* Style for outer table cells */
      .outer-table td {
        border: 1px solid black !important;
        padding: 8px !important;
      }
      
      /* Style for inner table */
      .inner-table {
        border-collapse: collapse !important;
        border: none !important; /* Remove inner table border */
      }
      
      /* Style for inner table cells */
      .inner-table td {
        padding: 4px !important;
      }

}

#sig-table{
    font-family: arial, sans-serif;
    font-size: 15px !important;
  border: none !important;
    
    th{
        font-family: arial, sans-serif;
        font-size: 15px !important;
      border: none !important;
        width: 20% !important;
        text-align: right;
       
    }
    td{
        font-family: arial, sans-serif;
        font-size: 15px !important;
        text-align: left !important;
border: none !important;
    }   
}
