<div id="default-dashboard" class="page-layout simple">

  <div class="header  p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

      <div class="hero-text">
          <mat-icon class="hero-icon">assignment</mat-icon>
          <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
              EXAMINATION DASHBOARD
          </h1>
          <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
            Examination Department for easily conducting the examination to reduce the manual work.
          </h3>
      </div>

  </div>



</div>
