<div class="content">
    <div fxLayout="column" class="header-background" fxLayoutAlign="start" fxLayout.gt-md="row">
        <div class="mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <div fxLayoutAlign="start center" class="mod-head">
                <i class="material-icons icon-align">
                          layers
                          </i>
                <!-- <mat-icon>calendar_view_day</mat-icon> -->
                <span>{{dialogTitle}}</span>
            </div>
        </div>
    </div>
    <form name="invugilatorForm" [formGroup]="invugilatorForm" novalidate>
        <mat-dialog-content>
            <div fxLayout="column">
                <div fxLayout="row wrap " fxFlex="100">
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                        <mat-select placeholder="College" name="collegeId" formControlName="collegeId" [disabled]="dataSECPrincipal" required>
                            <mat-option *ngFor="let college of colleges" [value]="college.collegeId">{{college.collegeCode}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                        <mat-select placeholder="Invigilator Designation" name="invgdesignationCatId" formControlName="invgdesignationCatId" required>
                            <mat-option *ngFor="let objt of invigilatorDisg" [value]="objt.generalDetailId">{{objt.generalDetailCode}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="33">
                        <input matInput type="number" placeholder="Amount" name="amount" formControlName="amount" required>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput [matDatepicker]="fDate" placeholder="From Date" (dateChange)="calDays()" name="fromDate" formControlName="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="fDate"></mat-datepicker-toggle>
                        <mat-datepicker #fDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <input matInput [matDatepicker]="tDate" [min]="invugilatorForm.value.fromDate" placeholder="To Date" name="toDate" formControlName="toDate">
                        <mat-datepicker-toggle matSuffix [for]="tDate"></mat-datepicker-toggle>
                        <mat-datepicker #tDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap " fxFlex="100">
                    <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="25">
                        <mat-checkbox name="isActive" formControlName="isActive">Active</mat-checkbox>
                    </section>
                    <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50" *ngIf="invugilatorForm.controls.isActive.value === false">
                        <input matInput placeholder="Reason" name="reason" formControlName="reason">
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>

            <button mat-raised-button class="cls-btn" mat-dialog-close>
          Close
      </button>
            <button mat-raised-button class="add-btn" color="accent" (click)="submit()">
          Save
      </button>
        </mat-dialog-actions>
    </form>
</div>