.mb-15 {
    padding: 11px;
    margin-top: -40px;
}

.filters {
    color: white;
    border: 1px solid #ffcf46;
}

.mat-expansion-panel-header-title {
    justify-content: space-between;
    align-items: center;
}