.mlr-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.week-day{
    margin-top: 5px !important;
}
.exp-con {
    overflow: initial;
}
.bordr{
    border: 1px solid #dedede;
  //  max-height: 300px !important;
}
.yar-bordr{
    border: 2px solid #89c5ff;
    border-radius: 3px;
    margin: 0px 24px 16px 24px !important;
    padding: 10px 10px;
    background: #fbfbfb;
}
p {
    margin: 3px !important;
    font-weight: 500;
}
.accordion-align {
    width: 100%;
    padding: 0px 24px 0px 24px !important;
}
.mpb{
    margin: 0px 15px 10px 15px;
}
.scroll{
    overflow: auto;
    height: 233px;
}

table#PivotView_grid_content_table {
    width: 100% !important;
}

table.e-table {
    width: 100% !important;
}

.pd-page {
    padding: 0px 24px 0px 24px !important;
}

.mar {
    margin: 0px 0;
}

.table-td {
    padding: 8px 8px !important;
    text-align: left;
    font-weight: 500;
}

.absent_std {
    color: #fff;
    background: red;
    border-radius: 4px;
    padding: 4px;
}

.mp-5 {
    margin-top: 5px;
}

p {
    margin: 5px 0px;
    // color: #c76d2f;
}

.table-th {
    padding: 5px 5px !important;
    background: #C3D9FF;
    font-weight: 500;
}

.back-grnd {
    border: 1px solid #fff;
    margin: 1px;
    background: #eaf2ff;
}

.txt-uppercase {
    text-transform: uppercase;
}

table {
    border-spacing: 1px !important;
}

.bat_ch {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: blue;
    font-weight: 500;
}
.box-ext{
    border: 1px solid #c5c5c5;
    padding: 2px;
    margin: 2px;
    border-radius: 3px;
    background: #92dcffee;
    cursor: pointer;
}
.afternoon-session{
    background: #ffee23c2 !important;
}
.univ-session{
    background: #90EE90 !important;

}
.exam-type{
    position: absolute;
    right: 3px;
    background: #ff5968;
    padding: 0 4px;
    bottom: 2px;
    border-radius: 3px;
}
// .overFlow{
//     mat-expansion-panel-body {
//         padding: 8px 24px 0px !important;
//         width: 100% !important;
//         overflow: overlay !important;
//         padding-bottom: 15px !important;
//     }
// }

div#cdk-accordion-child-4 {
    width: 100% !important;
    overflow: overlay !important;
    padding-bottom: 15px !important;
}
.add-btnt {
    height: 30px;
    margin: 0px 0px !important;
    width: auto;
}
.mat-select-search-panel {
    transform: none!important;
    overflow-x: hidden;
}
.mat-select-content.ng-trigger.ng-trigger-fadeInContent {
    position: inherit !important;
}
.mat-checkbox {
    font-size: 12px !important;
}