.mat-accordion{
    width: 100%;
    padding: 22px 24px 0px 24px;
  
}
.mat-expansion-panel{
    margin: 0px 25px;
}
.mlr-15 {
    margin-top: 10px
}
.checkbox{
    padding: 5px;
}
p,i{
    margin: 5px 0px;
}
.examfilter{
    color: #0014ff;
    font-weight: 500;
}
.add-btn{
    padding: 0px !important;
}
.searchfilter{
    margin-left: 10px!important;
    margin-top:12px !important;
}
.action{
    width: 10% !important;
}
.btn{
    //  margin: 5% !important;
      margin-top: 4% !important;
  }
.aprvebtn{
    max-width: 9.8%;
    margin-right: 1.3%;
}
