<div class="layout">
  <!-- Print Buttons -->
  <div class="printbtn">
    <button id="printPageButton" mat-raised-button class="back-btn" (click)="printBack()">Back</button>
    <button id="printPageButton" mat-raised-button color="accent" (click)="printPage('printsection')">Print</button>
  </div>

  <!-- Outer loop: Grouped by Room -->
  <div *ngFor="let room of groupedByRoomData; let i = index" class="room-section" [ngClass]="{'page-break': i !== 0}">
    <!-- room[0] = room_id, room[1] = object with group_id keys -->

    <!-- Inner loop: Grouped by fk_course_group_id -->
    <div *ngFor="let group of objectEntries(room[1])">
      <!-- group[0] = fk_course_group_id, group[1] = students array -->

      <div fxLayout="row">
        <div fxLayout="column" fxFlex="100">
          <table id="table-print">
            <thead>
              <tr>
                <td class="header-cell">
                  <span class="span-1">{{ group[1][0]?.exam_name }}</span><br>
                  <span>|{{ group[1][0]?.university_code }}|</span><br>
                  <span>{{ group[1][0]?.exam_date }}</span> &nbsp;
                  <span>{{ group[1][0]?.exam_session_name }}</span><br>
                  <span>Room: {{ group[1][0]?.room_name }}</span> | <span>Group: {{ group[1][0]?.group_code }}</span>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr style="margin: 0px 4px; display: block;">
                <td *ngFor="let data of group[1]" class="sticker-td">
                  <span
                    style="display: flex; justify-content: center; margin-bottom: -3px; font-size: 12px !important;">
                    <span *ngIf="printHn">{{ data?.hallticket_number }}</span>&nbsp;&nbsp;
                    <span *ngIf="barcodeNo">{{ data?.omr_serial_no }}</span>
                  </span>
                  <img [src]="'data:image/jpg;base64,' + data?.omr_barcode"
                    style="height: 30px; width: 180px !important;" />
                  <span style="display: flex; justify-content: center; font-size: 7px; margin-top: 1px;">
                    {{ data?.exam_date }} &nbsp;&nbsp; {{ data?.subject_code }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <!-- Print Buttons Again -->
  <div class="printbtn">
    <button id="printPageButton" mat-raised-button class="back-btn" (click)="printBack()">Back</button>
    <button id="printPageButton" mat-raised-button color="accent" (click)="printPage('printsection')">Print</button>
  </div>
</div>
