<div id="admission-dashboard" class="page-layout simple">

  <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Examination Management</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Pre Examination</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Exam Fee Payment</span>
          </div>
      </div>
  </div>

  <!-- CONTENT -->
  <div class="content pd-card mt-15">

      <div class="mat-elevation-z8 bkgrd">
          <form name="examFeeCollectionForm" [formGroup]="examFeeCollectionForm" style="padding-bottom: 1px;" class="form-pad" novalidate>
              <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                  <i class="material-icons sub-header-icon">money</i>
                  <span class="sub-header-text"> Exam Fee Payment</span>
              </div>
              
              <div fxLayout="column" class="inner-bkgrd std-his" *ngIf="!isEmptyObject(student)">
                  <div fxLayout="row" class="mar-8">
                      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <img class="pic" *ngIf="selectedStd.length > 0" [src]='student.studentPhotoPath' onerror="this.src='assets/images/avatars/default_Student.png'">
                          <img class="pic" *ngIf="selectedStd.length == 0" [src]='student.studentPhotoPath' onerror="this.src='assets/images/avatars/default_Student.png'">
                      </div>
                      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60" style="padding: 10px 0px;line-height: 0.8em;">
                          <p *ngIf="student.isLateral">{{student.firstName}} (<span style="color: blue;">LATERAL</span>) </p>
                          <p *ngIf="!student.isLateral">{{student.firstName}} (<span style="color: blue;">REGULAR</span>) </p>
                          <p style="color: #8c8c8c !important;">{{student.rollNumber}}</p>
                          <p style="color: #8c8c8c !important;">{{student.collegeCode}} / {{student.academicYear}} / {{student.courseCode}} / {{student.groupCode}} / {{student.courseYearName}} / Section {{student.section}}</p>
                          <p style="color: #8c8c8c !important;">{{student.mobile}}</p>
                      </div>
                      <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
                          <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

                              <div style="color: black; font-size: 15px;padding: 5px 0px;">
                                  <span>Quota : </span><span style="color: blue;" *ngIf="student.quotaDisplayName !== null"> {{student.quotaDisplayName}} </span>
                              </div>
                              <div style="color: black; font-size: 15px;padding: 5px 0px;">
                                  <span>Student Status : </span><span *ngIf="student.studentStatusCode !== null" [ngClass]="{'dtnd': student.studentStatusCode === 'DTND',
                                      'incollege': student.studentStatusCode === 'INCOLLEGE',
                                      'passedout': student.studentStatusCode === 'PASSEDOUT',
                                      'detainRecmnd': student.studentStatusCode === 'DETAINRECOMMENDED',
                                      'discontinued': student.studentStatusCode === 'DISCONTINUED'}"> {{student.studentStatusDisplayName}}  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd" >
                <div fxLayout="row wrap " fxFlex="100">
                     <p style="margin-left: 10px !important;"> {{params.examName}} ({{params.fromDate | date:'MMM d, y'}} - {{params.toDate | date:'MMM d, y'}})
                        <span *ngIf="params.isRegularExam" style="color: #0014ff;font-weight: 500;">(Regular)</span>
                        <span *ngIf="params.isSupplyExam" style="color: #0014ff;font-weight: 500;">(Supple)</span>
                </p>
                </div>
            </div>
              <!-- <div fxLayout="column" *ngIf="flag">
                  <div fxLayout="row wrap " fxFlex="100">
                      <div fxLayout="column" class="radio-btn" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start" *ngIf="examFeeCollectionForm.value.studentId">
                          <mat-radio-group [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                              <mat-radio-button [value]="1" (click)="clear()">General</mat-radio-button>
                          </mat-radio-group>
                      </div>
                  </div>
              </div> -->
              <div fxLayout="column" style="margin-top: 10px !important;" class="inner-bkgrd yar-bordr" *ngIf="flag">
                  <h2>Select Exam Fee Subjects</h2>
                  <div fxLayout="row wrap " fxFlex="100" style="background: white;">
                      <div fxLayout="column" class="radio-btn" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start"  >
                          <mat-radio-group [(ngModel)]="checkExam" [ngModelOptions]="{standalone: true}">
                              <mat-radio-button [value]="1" (click)="clear()" (change)="supplyCourseYears(1)">Regular</mat-radio-button>
                              <mat-radio-button [value]="2" (click)="clear()" class="r-btn" (change)="supplyCourseYears(2)">Supplementary</mat-radio-button>
                          </mat-radio-group>
                      </div>
                  </div>
                  <div fxLayout="row wrap " fxFlex="100">
                      <div fxLayout="column" class="p-8 bordr" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" *ngIf="courseYears.length > 0" style="background: white;">
                          <!-- <h4>Course Years</h4> -->
                          <div fxLayout="row wrap " fxFlex="100" style="margin-top: 10px;">
                              <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="70" fxFlex.gt-md="70">
                                  <mat-select placeholder="Course Year" name="courseYearId" formControlName="courseYearId" (selectionChange)="getRelevantExamSujects(examFeeCollectionForm.value.courseYearId)" required>
                                      <mat-option *ngFor="let obcjt of courseYears" [value]="obcjt.fromCourseYearId">{{obcjt.fromCourseYearName}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div fxLayout="row wrap " fxFlex="100" style="margin-top: 10px;">
                              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10" *ngIf="examFeeCollectionForm.value.courseYearId && checkExam == 2">
                                  <p class="txt-all" >
                                      <span (click)="getStudentSubjects(examFeeCollectionForm.value.courseYearId)">All</span></p>
                              </div>
                              <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10" style="margin-left: 5px;" *ngIf="examFeeCollectionForm.value.courseYearId && checkExam == 2">
                                  <p class="txt-all" >
                                      <span (click)="getRelevantExamSujects(examFeeCollectionForm.value.courseYearId)">Supple</span></p>
                              </div>
                          </div>

                      <!-- <p *ngIf="examFeeCollectionForm.value.courseYearId && examCourseYearSubjetsList.length === 0 && checkExam == 2" style="color: red; font-weight: 500;margin-left: 7px !important;">
                          No supplementary subjects found.</p> -->
                          
                      <!------------------/ Start Student Subject Table ------------------>
                      <!-- <div fxLayout="column" class="bordr" fxFlex="100" style="background: white;" *ngIf="studentSubjects.length > 0">
                          <div fxLayout="row" fxLayoutAlign="space-between center">
                              <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35" fxLayout="row" fxLayoutAlign="start center">
                                  <div class="search-box">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                      <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                                  </div>
                              </div>
                              <span class="roll-no">
                                  Selected Subjects: <span style="color: silver;">{{selectedCount}}</span>
                              </span>
                          </div>
                          <div class="firstTable">
                              <table class="mar">
                                  <thead>
                                      <tr>
                                          <th class="table-th" style="width: 15% !important;">
                                              <mat-checkbox [(ngModel)]="checksubject" style=" padding: 5px;" (change)="markAll()" [ngModelOptions]="{standalone: true}"></mat-checkbox>Select All</th>
                                          <th class="table-th">Subjects</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let  objct of studentSubjects | subjectFilter: searchText; let i=index">
                                          <td class="table-td" style="width: 15% !important;">
                                              <mat-checkbox (click)="checkedSubjects(!objct.checked,objct)" style="text-align: center;" [(ngModel)]="objct.checked" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                          </td>
                                          <td class="table-td">{{objct.subjectName}}
                                              <span class="rol-no">({{objct.subjectCode}})</span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div> -->
                              <!------------------/ End Student Subject Table ------------------>
                      </div>
                      <div fxLayout="column" class="bordr" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-md="25" style="background: white;" *ngIf="studentSubjects.length > 0 && checkExam === 2">
                          <div fxLayout="row" fxLayoutAlign="space-between center">
                              <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxLayout="row" fxLayoutAlign="start center">
                                  <div class="search-box">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                      <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">
                                  </div>
                              </div>
                              <span class="roll-no" style="color: blue;">
                                  Subjects: <span >{{selectedCount}}</span>
                              </span>
                          </div>
                          <div class="firstTable">
                              <table class="mar">
                                  <thead>
                                      <tr>
                                          <th class="table-th" style="width: 15% !important;">
                                              <mat-checkbox [(ngModel)]="checksubject" style=" padding: 5px;" (change)="markAll()" [ngModelOptions]="{standalone: true}"></mat-checkbox>All</th>
                                          <th class="table-th">Subjects</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let  objct of studentSubjects | subjectFilter: searchText; let i=index">
                                          <td class="table-td" style="width: 15% !important;">
                                              <mat-checkbox (click)="checkedSubjects(!objct.checked,objct)" style="text-align: center;" [(ngModel)]="objct.checked" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                          </td>
                                          <td class="table-td">{{objct.shortName}}
                                            <span *ngIf="objct.shortName === null">{{objct.subjectCode}}</span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div fxLayout="column" class="bordr firstTable-sub" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" *ngIf="selectedSubjects.length > 0" >
                          <table class="mar">
                              <thead>
                                  <tr>
                                      <th class="table-th" style="color: blue !important;" *ngIf="checkExam === 1">Total Subjects : <span >{{selectedCount}}</span></th>
                                      <th class="table-th" style="color: blue !important;" *ngIf="checkExam === 2">Selected Subjects : <span >{{selectedCount}}</span></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let  sub of selectedSubjects; let i=index">
                                      <td class="table-td">{{sub.shortName}} 
                                        <span *ngIf="sub.shortName === null">{{sub.subjectCode}}</span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- <div fxLayout="column" class="bordr firstTable-sub" fxFlex="100" fxFlex.gt-xs="22" fxFlex.gt-md="22" *ngIf="examFeeStructure.length > 0 && examFeeStructure[0].examFeeAdditionalStructureDTOs.length > 0" >
                          <table class="mar">
                              <thead>
                                  <tr>
                                      <th class="table-th">Additional Fee </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let  addFeeStr of examFeeStructure[0].examFeeAdditionalStructureDTOs; let i=index">
                                      <td class="table-td">{{addFeeStr.adtExamfeetypeCatDisplayName}} 
                                          <input class="ex-amt" [ngModelOptions]="{standalone: true}" [disabled]="addFeeStr.fee && addFeeStr.isDisable > 0 ? true : false" type="number" [(ngModel)]="addFeeStr.fee" >
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div> -->
                      <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10" *ngIf="studentSubjects.length > 0" style="position: relative;" >
                          <button mat-raised-button class="add-btn" style="position: absolute;
                          bottom: -12px;" color="accent" (click)="addExamSubjects()">
                                  <!-- <i class="material-icons" style="color: white;">add</i>--> 
                                      Register
                          </button>
                      </div>
                  </div>
              </div>

              <div fxLayout="column" style="margin-top: 10px" class="inner-bkgrd yar-bordr-list" *ngIf="courseYearFee.length>0">
                  <div fxLayout="row wrap " fxFlex="100">
                      <div fxLayout="column" fxFlex="100" class="inner-bkgrd">
                          <h2>Exam Course Years</h2>
                          <div fxLayout="row" class="mar-8 table-bac">
                              <table class="table table-striped fee fee_">
                                  <thead>
                                      <tr>
                                          <th style="width: 5%;">SI No</th>
                                          <th style="width: 35%;">Course Year</th>
                                          <th >Exam Type</th>
                                          <th >No of Subjects</th>
                                          <th style="width: 10%;text-align: right">Fee Amt (₹)</th>
                                          <th style="text-align: center">Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let courseYearSubject of courseYearFee; let i = index">
                                          <td>{{i+1}}</td>
                                          <td>{{courseYearSubject.courseYearName}}</td>
                                          <td >{{courseYearSubject.examType}}</td>
                                          <td style="position: relative;">{{courseYearSubject.subjects.length}}</td>
                                          <td style="text-align: right;position: relative;">
                                              <span style="position: absolute;
                                              left: -15px;" *ngIf="courseYearSubject.examFeeAmount > 0"></span>
                                              {{courseYearSubject.examFeeAmount}}
                                          </td>
                                          <td class="text-ctr">
                                              <!-- <button mat-icon-button>
                                                                      <mat-icon class="material-icons edit" matTooltip="Edit Subjects"  (click)="editExamSubjectsList(courseYearSubject)">border_color</mat-icon>
                                              </button> -->
                                              <button mat-icon-button>
                                                     <i class="fa fa-eye edit" aria-hidden="true" matTooltip="View Subjects" style="color: #9E9E9E  !important;"  (click)="viewCourseYearSubjectsListDialog(courseYearSubject,'noReceipt')"></i>
                                              </button>
                                              <span>|</span>
                                              <button mat-icon-button>
                                                  <i class="material-icons delete-table-sub" (click)="deleteCourseYearSubject(courseYearSubject, i)" matTooltip="Delete Course Year Subjects">delete_forever</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr class="tr-bakgrnd">
                                          <td></td>
                                          <td style="font-weight: 700 !important;font-size: 15px !important;color: blue !important;" colspan="8">Summary</td>
                                      </tr>

                                      <tr>
                                          <td></td>
                                          <td colspan="3" style="font-weight: bold;">Total Fees </td>
                                          <td style="text-align: right;font-weight: bold;">{{getTotalAmt(courseYearFee)}}</td>
                                          <td></td>
                                      </tr>
                                      <!-- <tr>
                                                      <td>2</td>
                                                      <td colspan="4" style="font-weight: bold;">Total Discount </td>
                                                      <td style="text-align: right;font-weight: bold;">55500</td>
                                                  </tr> -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <p style="color: red;font-weight: 500;">Note : Please place your roll no. in comments field while paying.</p>
              </div>

              <h2 style="margin: 3px 25px !important;" *ngIf="courseYearFee.length > 0">Exam Payment Details</h2>
              <div fxLayout="column" class="pay inner-bkgrd" *ngIf="courseYearFee.length > 0">  
                            
                  <div fxLayout="row" class="mar-8" style="position: relative;">
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="Transaction Type" name="transactionAppCatId" formControlName="transactionAppCatId" required>
                              <mat-option *ngFor="let tran of transactionTypes" [value]="tran.generalDetailId">{{tran.generalDetailDisplayName}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" >
                          <input matInput placeholder="Transaction Number" name="transactionRefno" formControlName="transactionRefno" required>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" >
                          <input matInput type="number" placeholder="Amount" name="transactionAmount" formControlName="transactionAmount" required>
                      </mat-form-field>
                      <div class="savebtn-align" style="position: relative;" style="margin: auto 0px !important;" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <!-- <label>Fee Notification File Upload: </label> -->
                            <label style="margin-top: -20px;
                            margin-bottom: 5px;">Upload Transaction Receipt</label>
                            <input type="file" accept=".png, .jpg, .jpeg, .pdf, .doc" #examFeeRecptAvatar>
                        </div>
                         <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15" class="pay-btn">
                            <button mat-raised-button class="add-btn" color="accent" (click)="addTrans(examFeeCollectionForm.value)" >
                                  Add Receipt 
                              </button>
                        </div>
                  </div>
                  <table class="table table-striped fee fee_">
                        <thead>
                            <tr>
                                    <th style="width: 5%;">SI No.</th>
                                    <th>Transaction Type</th>
                                    <th>Transaction Ref. No.</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Receipt</th>
                                    <th style="text-align: right">Transaction Amount</th>
                                    <th style="text-align: center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transactions; let i = index;">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.transactionTypeName}}</td>
                                    <td>{{item.transactionRefno}}</td>
                                    <td>{{item.transactionDate | date: 'dd MMM, yy'}}</td>
                                    <td> {{item.transactionPath}} </td>
                                    <td style="text-align: right">{{item.transactionAmount}}</td>
                                    <td class="text-ctr">
                                        <button mat-icon-button>
                                            <i class="material-icons delete-table-sub" (click)="deleteTransaction(item, i)" matTooltip="Delete Transaction">delete_forever</i>
                                        </button>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
              </div>

              <div fxLayout="column" class="inner-bkgrd" style="margin: 0px 24px 0px 24px !important;" *ngIf="feeRegistrations.length > 0">
                  <h2>Registered Course Year Subjects</h2>
                  <div fxLayout="row" class="mar-8 table-bac">
                    <table class="table table-striped fee fee_">
                        <thead>
                            <tr>
                                <th style="width: 5%;">SI No.</th>
                                <th>Course Year</th>
                                <th>Exam Type</th>
                                <th>Exam Fee Structure</th>
                                <th>Subjects</th>
                                <th>Pay Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of feeRegistrations; let i = index;">
                                <td>{{i + 1}}</td>
                                <td>{{item.courseYearName}}</td>
                                <td>{{item.examTypeCode}}</td>
                                <td>{{item.examFeeStructureName}}</td>
                                <td>
                                    <button mat-raised-button style="background: #ffcf46;cursor: pointer;" (click)="viewSubjectsListDialog(item)">Subjects</button>
                                </td>
                                <td >
                                  <button mat-icon-button>
                                      <i class="fa fa-eye edit" aria-hidden="true" matTooltip="View Transactions" style="color: #9E9E9E  !important;"  (click)="viewTransactions(item)"></i>
                                  </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                  </div>
              </div>

              <div class="form-btn">
                  <button mat-raised-button class="add-btn back-btn" (click)="goBack()">Back</button>
                  <button mat-raised-button class="add-btn" color="accent" (click)="payExamFees()" *ngIf="transactions.length > 0 && totalTransAmt === getTotalAmt(courseYearFee)">
                        Pay
                    </button>
              </div>
          </form>
      </div>
  </div>
  <!-- / CONTENT -->

</div>