.addBtn{
    height: 40px;
    margin-bottom: 18px !important;
    font-size: 13px !important;
    width: 40%;
    }
    .page-table-head-div {
        /* background: #ffff; */
        padding: 17px 10px;
        border-bottom: 2px solid #ffcf46;
    }
    .yar-bordr {
        border: 2px solid #89c5ff;
        border-radius: 3px;
        margin: 0px 24px 16px 24px !important;
        padding: 5px 10px;
       // background: #c3d9ff;
    }
    .ptag{
        font-weight: 600;
    }
    .divbuttons{
        justify-content: end !important;
        display: flex !important;
      }