.in-active {
    background-color: red;
}
.btn-align{
    margin-left: 25% !important;
}
.std-his {
    border: 4px solid #c3d9ff !important;
    border-radius: 3px;
    background: white;
}

.pic {
    width: 80%;
    padding: 6px;
    background: #c3d9ff;
    margin: 2px;
}

.absent {
    background: #ecf3ff;
    margin: 0;
    padding: 11px;
    border: 1px solid #c3d9ff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.choose::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background-color: #111F65;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}

.hover {
    cursor: pointer;
}