td{
    border: 0px !important;
}


.qp-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* ===== SECTION ===== */
.section-row {
  background: #d0e8ff; /* Material Blue */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.section-title {
  padding: 8px 12px !important;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.display-text {
  background: #e3f2fd;
  font-style: italic;
  color: #444;
  padding: 6px 12px;
}

/* ===== GROUP ===== */
.group-row {
  background: #f5f5f5;
  font-weight: 600;
}

.group-title {
  padding: 6px 12px;
}

.indent {
  width: 30px;
}

/* ===== QUESTIONS ===== */
.question-row {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.question-title {
  padding: 6px 12px;
}
.question-actions {
  display: flex;
  gap: 4px;
}
.question-title strong {
  color: #1976d2;
  margin-right: 4px;
}
.question-title p {
  display: inline;   /* make <p> behave like inline text */
  margin: 0;         /* remove default <p> spacing */
}
.minq-col,
.marks-col {
  text-align: center;
  font-weight: 500;
  color: #333;
  width: 80px;
}

/* ===== BUTTONS ===== */
button.mat-raised-button {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  border-radius: 20px;
  padding: 2px 12px;
  box-shadow: none;
}

button.mat-raised-button i.material-icons {
  font-size: 18px;
}


.final-total-row {
  font-weight: bold;
  background-color: #f5f5f5;
}

.final-total-label {
  text-align: right;
  padding-right: 12px;
}

.final-total-value {
  text-align: center;
}
