<div id="admission-dashboard" class="page-layout simple">

    <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">

        <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Pre-examination</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Create-Question-Paper</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span>Manage Questions</span>
            </div>
        </div>

    </div>

    <!-- CONTENT -->
    <div class="content pd-card mt-15">
        <div class="mat-elevation-z8 bkgrd">
            <form   class="form-pad" novalidate>
                <div fxLayout="row" class="sub-header" fxLayoutAlign="space-between center">
                    <div style="position: relative;">
                    <i class="material-icons sub-header-icon" style="position: absolute;">computer</i>
                    <span class="sub-header-text" style="margin-left: 30px;"> Manage Questions 
                    </span><span style="color: blue; font-size: 13px;"><strong>&nbsp;({{params.questionpaper_title}})</strong></span>
                </div>
                    <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                        <button mat-raised-button class="add-btn btn-bck" (click)="download()">Download Sample XL</button>
                    </div>
                </div>
                <div style="border: 1px solid #dedede;
                padding: 0 10px;">
                <!-- <div fxLayout="column" style="margin-top: 10px" class="mb-15 inner-bkgrd1">
                    <h4 class="form-sub-header">Add Questions</h4>
                </div> -->
                <div fxLayout="column">
                    <div fxLayout="row wrap " fxFlex="100" style="position: relative;">
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget widget-hover" 
                            fxLayout="column" fxFlex="100" (click)="questionBank()">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-eletn transparent" style="background: #00b9ff !important;">

                                    <div class="pd1 " fxLayout="column">
                                        <div class="wigt1-light border font-size-30 line-height-60">
                                            <img src="assets/images/module-icons/exam.png">
                                        </div>
                                        <div class="h4 secondary-text pd-icon-head" style="text-align: center;
                                        font-weight: 600;">Question Bank
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                        </div>
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget widget-hover" 
                            fxLayout="column" fxFlex="100" (click)="addQuestion()">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-eletn transparent" style="background: #00b9ff !important;">

                                    <div class="pd1 " fxLayout="column">
                                        <div class="wigt1-light border font-size-30 line-height-60">
                                            <img src="assets/images/module-icons/fee.png">
                                        </div>
                                        <div class="h4 secondary-text pd-icon-head" style="text-align: center;
                                        font-weight: 600;">Manually
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                        </div>
                        <div fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" 
                            class="widget widget-hover" fxLayout="column" fxFlex="100" 
                            onclick="document.getElementById('selectedFile').click();" >

                                <!-- Front -->
                                <div class="fuse-widget-front mat-eletn transparent" style="background: #00b9ff !important;">

                                    <div class="pd1 " fxLayout="column">
                                        <div class="wigt1-light border font-size-30 line-height-60">
                                            <img src="assets/images/module-icons/sug.png">
                                        </div>
                                        <div class="h4 secondary-text pd-icon-head" style="text-align: center;
                                        font-weight: 600;">Upload Excel
                                        </div>
                                        <!-- <section fxLayout="column" class="p-8 post-rltv" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-md="20" fxLayoutAlign="center center">
                                            <img [src]="studentPhotoUrl" class="pro_pic" onclick="document.getElementById('selectedFile').click();" onerror="this.src='assets/images/avatars/default_Student.png'">
                                            
                                        </section> -->
                                    </div>

                                </div>
                                <input type="file" id="selectedFile" (change)="upload($event)" accept=".xls" #excelAvatar>
                                <!-- / Front -->

                            </fuse-widget>
                        </div>
                    </div>
                </div>
                </div>
                <div class="save-btn-align">
                    <button mat-raised-button class="add-btn back-btn" (click)="goBack()">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

             






