mat-header-cell{
    color: black;
}
.filters {
    color: white;              
    border: 1px solid #ffcf46;  
  }

  .mat-expansion-panel-header-title{
    justify-content: space-between;
    align-items: center;
  }