<div id="dashboard" class="page-layout simple">

    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header pd-dash" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Examination Management</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Master</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span>Exam Grades</span>
                </div>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <mat-accordion style="width: 100%;padding: 22px 24px 0px 24px;">
                <mat-expansion-panel [expanded]="step === 0" hideToggle style="margin: 0px 25px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="fs  icon-align ">book</mat-icon>
                                    <strong class="table-heads">Exam Grades</strong>
                                </div>
                            </div>
                        </mat-panel-title>
                        <label class="filter-align">Filter</label>
                        <mat-icon>filter_list</mat-icon>
                    </mat-expansion-panel-header>
                    <form name="examGradesForm" [formGroup]="examGradesForm" novalidate>
                        <div fxLayout="row">
                            <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                                <mat-select placeholder="College" name="collegeId" formControlName="collegeId" (selectionChange)="selectedCollege(examGradesForm.value.collegeId)" required>
                                    <mat-option *ngFor="let college of colleges" [value]="college.collegeId">{{college.collegeCode}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20">
                                <mat-select placeholder="University" name="universityId" formControlName="universityId" (selectionChange)="selectedUniversity(examGradesForm.value.universityId)" required>
                                    <mat-option *ngFor="let univ of universities" [value]="univ.fk_university_id"
                                        matTooltip="{{univ.university_name}}">{{univ.university_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                                <mat-select placeholder="Course" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(examGradesForm.value.courseId)" required>
                                    <mat-option *ngFor="let course of courses" [value]="course.fk_course_id">{{course.course_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                                <mat-select placeholder="Regulation" name="regulationId" formControlName="regulationId" (selectionChange)="selectedRegulation(examGradesForm.value.regulationId)" required>
                                    <mat-option *ngFor="let objct of regulations" [value]="objct.fk_regulation_id">{{objct.regulation_code}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="14" fxFlex.gt-md="14">
                                        <mat-checkbox name="isForDisabled" (click)="selectedFlag()"  formControlName="isForDisabled">Is For Disability</mat-checkbox>
                            </section>
                            <button mat-raised-button class="add-btn" color="accent" (click)="getDetails()">Get List </button>
                        </div>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
            <mat-card class="pd-card table-align" *ngIf="this.flag === true">
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" class="search-align" fxLayoutAlign="space-between" fxLayoutGap="5">
                        <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="30" fxFlex.gt-md="35" fxLayout="row" fxLayoutAlign="start center">
                            <label for="search" class="mr-8">
                            <mat-icon class="secondary-text">search</mat-icon>
                        </label>
                            <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>
                        </div>
                        <button class="btn-add" mat-raised-button color="accent" (click)="openDialog()">
                        <i class="material-icons">add</i>
                        Add Exam Grade</button>
                    </div>
                </mat-card-content>

                <div class="mat-elevation-z8">
                    <div class="example-container ">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SI No. </th>
                                <td mat-cell *matCellDef="let row; let i=index"> {{examsMarksSteupList.indexOf(row)+1}} </td>
                            </ng-container>

                            <!-- Grade Code Column -->
                            <ng-container matColumnDef="gradeCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Code</th>
                                <td mat-cell *matCellDef="let row"> {{row.gradeCode}} </td>
                            </ng-container>

                            <!-- Grade Name Column -->
                            <ng-container matColumnDef="gradeName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Name</th>
                                <td mat-cell *matCellDef="let row"> {{row.gradeName}} </td>
                            </ng-container>

                            <!--Min Score Percent Column -->
                            <ng-container matColumnDef="minScorePercent">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Min- Max Score Percentage</th>
                                <td mat-cell *matCellDef="let row"> {{row.minScorePercent}} - {{row.maxScorePercent}} </td>
                            </ng-container>

                            <!-- Min Points Column -->
                            <ng-container matColumnDef="minPoints">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Min - Max Points</th>
                                <td mat-cell *matCellDef="let row"> {{row.minPoints}} -{{row.maxPoints}} </td>
                            </ng-container>

                            <!-- Credit Points Column -->
                            <ng-container matColumnDef="creditPoints">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit Points</th>
                                <td mat-cell *matCellDef="let row"> {{row.creditPoints}} </td>
                            </ng-container>

                            <!-- Is Active Column -->
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row.isActive==true" class="active">Active</span>
                                    <span *ngIf="row.isActive==false" class="in-active">InActive</span>
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let row" class="text-ctr"> <i class="material-icons edit " matTooltip="Edit" (click)="editDialog(row)"> border_color</i> </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                </div>

            </mat-card>

            <!-- / CONTENT -->

        </div>
    </div>
</div>