<div id="admission-dashboard" class="page-layout simple">

  <div class="header pd-dash pb-0" fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="column" class="link-header" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18 cursr" [routerLink]="'/dashboard'">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Examination Management</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Post Examination</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span>Exam Marks Bulk Upload</span>
          </div>
      </div>
  </div>

  <!-- CONTENT -->
  <div class="content pd-card mt-15">
      <div class="mat-elevation-z8 bkgrd">
          <form name="examFeeCollectionForm" [formGroup]="examFeeCollectionForm" style="padding-bottom: 1px;" class="form-pad" novalidate>
              <div fxLayout="row" fxLayoutAlign="start center" class="sub-header">
                  <i class="material-icons sub-header-icon">money</i>
                  <span class="sub-header-text">Exam Marks Bulk Upload</span>
              </div>
              <div fxLayout="column" style="margin-top: 10px" class="mlr-15 inner-bkgrd" style="padding: 0px 15px;">
                  <div fxLayout="row wrap " fxFlex="100">
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="College" name="collegeId" formControlName="collegeId" (selectionChange)="selectedCollege(examFeeCollectionForm.value.collegeId)" required>
                              <mat-option *ngFor="let college of colleges" [value]="college.collegeId">{{college.collegeCode}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="Course" name="courseId" formControlName="courseId" (selectionChange)="selectedCourse(examFeeCollectionForm.value.courseId)" required>
                              <mat-option *ngFor="let course of courses" [value]="course.courseId">{{course.courseCode}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="Exam Year" name="academicYearId" formControlName="academicYearId" (selectionChange)="selectedAcademicYear(examFeeCollectionForm.value.academicYearId)" required>
                              <mat-option *ngFor="let obcjt of academicYears" [value]="obcjt.academicYearId">{{obcjt.academicYear}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="55" fxFlex.gt-md="55">
                          <mat-select placeholder="Exam" name="examId" formControlName="examId" (selectionChange)="selectedExam(examFeeCollectionForm.value.examId)" required>
                            <ngx-mat-select-search [placeholderLabel]="'Search Exam...'"
                            [noEntriesFoundLabel]="'no matching data found'" (keyup)="searchExam($event.target.value)"></ngx-mat-select-search> 
                            <mat-option *ngFor="let exam of examData" [value]="exam.examId" matTooltip="{{exam.examName}} ({{exam.fromDate | date:'MMM d, y'}} - {{exam.toDate | date:'MMM d, y'}})"
                              >{{exam.examName}} ({{exam.fromDate | date:'MMM d, y'}} - {{exam.toDate | date:'MMM d, y'}})
                                  <span *ngIf="exam.isRegularExam" style="color: #0014ff;font-weight: 500;">(Regular)</span>
                                  <span *ngIf="exam.isSupplyExam" style="color: #0014ff;font-weight: 500;">(Supple)</span>
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div fxLayout="row wrap " fxFlex="100">
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="Course Group" name="courseGroupId" formControlName="courseGroupId" (selectionChange)="selectedCourseGroup(examFeeCollectionForm.value.courseGroupId)" required>
                              <mat-option *ngFor="let obcjt of courseGroups" [value]="obcjt.courseGroupId">{{obcjt.groupCode}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                          <mat-select placeholder="Course Year" name="courseYearId" formControlName="courseYearId" (selectionChange)="selectedYear(examFeeCollectionForm.value.courseYearId)" required>
                              <mat-option *ngFor="let courseYear of courseYears" [value]="courseYear.courseYearId">{{courseYear.courseYearName}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                        <mat-select placeholder="Regulation" name="regulationId" formControlName="regulationId" required>
                            <mat-option *ngFor="let reg of regulations" [value]="reg.regulationId">{{reg.regulationName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                        <mat-select placeholder="Exam Type" name="examTypeCatId" formControlName="examTypeCatId" required>
                            <mat-option *ngFor="let examType of examFeeTypes" [value]="examType.generalDetailId">{{examType.generalDetailDisplayName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <section fxLayout="column" class="mp-24 mb-24 p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="15">
                        <mat-checkbox name="isRevised" formControlName="isRevised" >Is Revaluation </mat-checkbox>
                    </section>
                  </div>
              </div>

              <p style="margin: -10px 0 -5px 26px;
              font-weight: 500;">Upload Marks :</p>
              <div fxLayout="row" class="fileupload std-his" >
                  <!-- <mat-form-field fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-md="16">
                      <input type="file" accept=".png, .jpg, .jpeg">
                  </mat-form-field> -->
                 
                  <section fxLayout="column" class="p-8 post-rltv" fxFlex="100" fxFlex.gt-xs="60" fxFlex.gt-md="60" fxLayoutAlign="center start">
                      <input type="file" style="width: 100%;" placeholder="Upload file" accept=".xlsx" #uploadXl>
                  </section>
                  <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="10" fxFlex.gt-md="10">
                      <button mat-raised-button class="add-btn" color="accent" (click)="uploadFile()">Upload</button>
                  </div>
                  <div class="savebtn-align" fxLayout="column" class="p-8" fxFlex="100" fxFlex.gt-xs="20" fxFlex.gt-md="20" *ngIf="examFeeCollectionForm.value.collegeId &&collegeCode == 'VEC'">
                    <button mat-raised-button class="add-btn btn-bck" (click)="download()">Download Sample XL</button>
                </div>
              </div>
              <div fxLayout="column" class="inner-bkgrd yar-bordr" style="margin: 12px 24px !important;" *ngIf="preStaggings.length > 0">
                  <!-- <h4>Students List</h4> -->
                  <div fxLayout="row" style="position: relative;">
                      <span class="roll-no">
                          Students List 
                      </span>
                      <span style="color: blue; font-weight: 500;margin-left: 8px;">
                          ( {{collegeCode}} / {{course}} / {{academicYear}} / {{courseGroup}} / {{courseyear}} / {{regulation}} / {{exam}} )
                          </span>
                      <div class="search-input-wrapper mx-24 m-md-0" fxFlex.gt-xs="15" fxFlex.gt-md="15" fxLayout="row" >
                           <div class="search-box" style="margin-top: -5px;">
                                <!-- <button mat-raised-button *ngIf="notRegisteredSubjects.length > 0" class="add-btn" color="accent" (click)="addSubjects(notRegisteredSubjects)">
                                        Add subjects</button> -->
                                        <span style="color: blue;text-decoration: underline;cursor: pointer;" *ngIf="notRegisteredSubjects.length > 0" (click)="addSubjects(notRegisteredSubjects)">Missing Subjects</span>
                              <!-- <span style="    margin-top: 7px;"><span style="    background: #ffb9b9;
                        padding: 0 5px;
                        margin-top: 6px;
                        margin-right: 6px;"></span>Validation Failed</span>
                               <i class="fa fa-search" aria-hidden="true"></i>
                              <input [(ngModel)]="searchText" placeholder="Search..." [ngModelOptions]="{standalone: true}">  -->
                          </div>
                          
                    
                      </div>
                  </div>
                  <div fxLayout="column" fxFlex="100" class="mlr-15 inner-bkgrd">
                    <div fxLayout="row" class="mar-8 table-bac firstTable marks-entry">
                        <table class="table table-striped fee fee_">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">SI No</th>
                                    <th style="width: 10%;">Roll Number</th>
                                    <th style="width: 15%;">Subject Code</th>
                                    <th style="width: 15%;">Subject Name</th>
                                    <th style="width: 10%;">
                                       Internal Marks
                                    </th>
                                    <th style="width: 10%;">
                                        External Marks
                                     </th>
                                     <th style="width: 10%;">
                                        Total Marks
                                     </th>
                                     <th style="width: 10%;">
                                        Grade
                                     </th>
                                     <th style="width: 10%;">
                                        Grade Points
                                     </th>
                                    <th style="width: 10%;">Credits</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="preStaggings.length>0">
                                <tr [matTooltip]="object.comments != null ? object.comments : ''" *ngFor="let object of preStaggings | studentRollnoFilter: searchText; let i = index" [ngClass]="{'not-registered': object.comments!=null}">
                                        
                                    <td style="width: 5%;">{{i+1}}</td>
                                    <td style="text-align: left;width: 10%;">{{object.rollNumber}}</td>
                                    <td style="width: 15%;text-align: left;">{{object.subjectCode}}</td>
                                    <td style="width: 30%;text-align: left;">{{object.subjectName}}</td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.internalMarks != null">{{object.internalMarks}}</span>
                                        <span *ngIf="object.internalMarks == null"> - </span>
                                    </td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.externalMarks != null">{{object.externalMarks}}</span>
                                        <span *ngIf="object.externalMarks == null"> - </span>
                                    </td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.examMarks != null">{{object.examMarks}}</span>
                                        <span *ngIf="object.examMarks == null"> - </span>
                                    </td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.grade != null">{{object.grade}}</span>
                                        <span *ngIf="object.grade == null"> - </span>
                                    </td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.gradePoints != null">{{object.gradePoints}}</span>
                                        <span *ngIf="object.gradePoints == null"> - </span>
                                    </td>
                                    <td style="width: 5%;text-align: center;">
                                        <span *ngIf="object.credits != null">{{object.credits}}</span>
                                        <span *ngIf="object.credits == null"> - </span>
                                    </td>
                                    <!-- <ng-template #template >
                                        <div class="my-tooltip">
                                           <h5>Validation Result</h5>
                                            <p >
                                                <span style="color: black;font-weight: 700;">Comments :</span> {{object.comments}}
                                            </p>
                                        </div>
                                    </ng-template> -->
                                </tr>
                                               
                            </tbody>
                        </table>
                        
                    </div>
                      <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" *ngIf="preStaggings.length > 0">
                          <div class="form-btn">
                              <button mat-raised-button class="add-btn" color="accent" (click)="postExamMarks()">
                               Save Marks </button>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- <div class="form-btn">
                  <button mat-raised-button class="add-btn back-btn" (click)="goBack()">Back</button>
              </div> -->
          </form>
      </div>

  </div>
  <!-- / CONTENT -->

</div>