
  <div class="layout" *ngIf="bulk==false" >
   <div id="dashboard" class="page-layout simple "  id="printsection" >
     <div fxLayout="row" >
        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
         <div style=" margin-left: 20px; font-size: 11px !important;">
            <img [src]="'data:image/jpg;base64,'+omr_barcode" style="height:40px; width: 400px !important;" /> 
            <p style="text-align: center; margin: 0px;">{{omr_serial_no}}</p>  

        </div>
        </div>
      
     </div>
   </div>
   <div class="printbtn">
    <button  id="printPageButton" mat-raised-button class="back-btn" (click)="printBack()">
      Back</button>
      <button  id="printPageButton" mat-raised-button color="accent" (click)="printPage('printsection')">
          Print</button>
  </div>
   </div>


      <div class="layout" *ngIf="bulk==true" >
         <div class="printbtn">
            <button  id="printPageButton" mat-raised-button class="back-btn" (click)="printBack()">
              Back</button>
              <button  id="printPageButton" mat-raised-button color="accent" (click)="printPage('printsection')">
                  Print</button>
          </div>
         <div id="dashboard" class="page-layout simple "  id="printsection" *ngFor="let data of bulkdata"  style="height:1048px; max-height: 1048px !important;  overflow: auto !important;" >
         
           <div fxLayout="row" >
              <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
               <table>
                  <tr>
                     <img [src]="'data:image/jpg;base64,'+data?.omr_barcode" style="height:40px; width: 400px !important;" /> 
                     <span style="display: flex; justify-content: center;"> {{data?.omr_serial_no}}</span>
                  </tr>
               </table>
                
   
            
              </div>
            
           </div>
        
         </div>

         </div>
        