.bkgrd {
    background: #fff;
}

.form-pad {
    padding: 2px 15px;
}

.inner-bkgrd {
    background: #f7f7f7;
}

.form-btn {
    margin-top: 4px !important;
    //  margin-right: -15px !important;
    //  button {
    //     width: 100%;
    //  }
}

.table-brd {
    border: 2px solid #60c7f6;
    border-radius: 5px;
    padding: 10px;
}

.mat-table {
    padding: 0px
}

.notification-audience {
    border-bottom: 1px solid #ffcf46;
    padding: 10px 0px;
}
.pd-page{
    padding: 0px;
}