.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

.div-border {
    border: 2px solid #B2EBF2;
    border-radius: 5px;
     margin: 0px !important; 
     padding: 0px; 
}